<div class="popup {{show?'show':''}} privacy-statement-popup">
  <div class="popup-container">
      <div class="popup-cell">
          <div class="popup-curtain" (click)="cancel()"></div>
          <div class="popup-window">
              <img src="/quote/Content/images/pet-quote/close-btn.svg" class="close" alt="Close" (click)="cancel()">


              <h3>{{title}}</h3>
              <div class="scroll-wrap">
                <div [innerHTML]="copy"></div>
                <div class="checkbox-wrap ">
                  <div class="check">
                    <app-check-box #checkBox (checkChange)="confirm($event)" [checked]="quote.agreedTerms" value="1"></app-check-box>
                  </div>
                  <div class="description"  [innerHTML]="description  | safe: 'html'"></div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
