<div class="check-description-wrap relative-680">
  <div class="check-description-box clearfix  {{checkBottom ? 'check-at-bottom' : ''}} {{error ? 'show-invalid' : ''}}"
   [ngClass]="{'selected': value,'tab-in':isFocus,'error':error, 'expandable':expandable}"
   >
    <span *ngIf="expandable" class="show {{show ? 'open' : '' }}" (click)="toggleExpand()" [innerText]="show ? 'Hide' : 'Show'">
     
    </span>
    <div class="expandable-wrap" *ngIf="expandable">
      <label class="title" *ngIf="show || !value">Please read and accept our privacy statement</label>
     
      <div id="desc-content" class="content {{show ? 'open' : ''}}" (scroll)="onWindowScroll($event)">

        <div class="content-inner">
          <h3>{{title}}</h3>
          <div [innerHTML]="copy"></div>
        </div>
      </div>
    </div>

    <div *ngIf="showCheckbox || value" class="checkbox-wrap {{show || value ? 'open' : '' }}">
      <div class="check" *ngIf="!checkBottom">
        <app-check-box #checkBox (checkChange)="toggleSelected($event)" [checked]="value" value="1" [useInput]="false"></app-check-box>
      </div>
      <div class="description {{descFull ? 'desc-full' : ''}}"  [innerHTML]="description | safe: 'html'"></div>
      <div class="check-bottom"  *ngIf="checkBottom"> 
        <div class="check">
          <app-check-box #checkBoxNext (checkChange)="toggleSelected($event)" [checked]="value" value="1" [useInput]="false"></app-check-box>
        </div>
        <div class="check-label">
          {{checkLabel}}
        </div>
      </div>
    </div>
    <div class="tab-field">
      <input data-role="none" type="text" #tabInput [tabindex]="tab" (focusin)="tabIn()" (focusout)="tabOut()" (keydown)="keydown($event)">
    </div>
  </div>
  <div class="error-message {{ error ? 'show' : '' }}">
    <div class="table">
      <div class="cell icon">
        <img src="/quote/Content/images/pet-quote/icon-error-protected-red.svg" />
      </div>
      <div class="cell">
        {{errormessage}}
      </div>
    </div>

  </div>
</div>
