.browser-error {
  background-color: #f7f7f7;
  padding: 100px 0;
}
.browser-error .content {
  position: relative;
  top: 0px;
  max-width: 780px;
  margin: auto;
}
.browser-error .content h1 {
  text-align: center;
  color: #008BCE;
}
.browser-error .content p {
  text-align: center;
  position: relative;
  max-width: 450px;
  margin: 10px auto 30px;
}
.browser-error .content p.bottom {
  max-width: 100%;
  margin: 40px 0 0;
  font-size: 14px;
}
.browser-error .content .boxes .box {
  max-width: 360px;
  width: 100%;
  height: 317px;
  border-radius: 3px;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  padding: 29px 38px;
}
.browser-error .content .boxes .box.margin-center {
  position: relative;
  margin: auto;
}
.browser-error .content .boxes .box.auto-height {
  height: auto;
}
.browser-error .content .boxes .box.browser {
  float: left;
}
.browser-error .content .boxes .box.os {
  float: right;
}
.browser-error .content .boxes .box .type {
  font-size: 14px;
  color: #8e8e8e;
}
.browser-error .content .boxes .box .icon {
  width: 42px;
  height: 42px;
  margin: 10px auto;
}
.browser-error .content .boxes .box .name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #525252;
  margin: 10px 0 0;
}
.browser-error .content .boxes .box .version {
  font-size: 14px;
  text-align: center;
  margin: 0 0 4px;
}
.browser-error .content .boxes .box .support {
  text-align: center;
  color: #d92e43;
  font-size: 14px;
  font-weight: 500;
}
.browser-error .content .boxes .box .support.yes {
  color: #469f35;
}
.browser-error .content .boxes .box p {
  font-size: 14px;
  color: #525252;
}
.browser-error .content .boxes .box .btn {
  max-width: 100%;
  background: #008BCE;
  border: 1px solid #008BCE;
  border-radius: 4px;
  width: 100%;
}
.browser-error .content .boxes .box .btn-wrap {
  margin: auto;
  align-items: center;
  width: 100%;
}
.browser-error .content .boxes .box .btn-specific {
  font-weight: 500;
  margin: auto;
}
.browser-error .content .boxes .box .btn-specific img {
  margin-right: 7px;
}
.browser-error .content .boxes .box .browser-icons {
  display: block;
  margin: auto;
  height: 35px;
  line-height: 1;
}
.browser-error .content .boxes .box .browser-icons:after {
  clear: both;
  content: "";
  display: block;
}
.browser-error .content .boxes .box .browser-icons a {
  color: #3093cc;
  white-space: nowrap;
}
.browser-error .content .boxes .box .browser-icons a img {
  float: left;
}
.browser-error .content .boxes .box .browser-icons a span {
  float: left;
  margin: 10px 0 0 8px;
  font-size: 14px;
}
.browser-error .content .boxes .box .browser-icons.one {
  width: 90px;
}
.browser-error .content .boxes .box .browser-icons.two {
  width: 230px;
}
.browser-error .content .boxes .box .browser-icons.two .ml {
  margin-left: 40px;
}
.browser-error .content .boxes .box .browser-icons.three .ml {
  margin-left: 15px;
}
@media all and (max-width: 990px) {
  .browser-error .content {
    padding: 0 20px;
  }
  .browser-error .content .boxes .box {
    position: relative;
    margin: auto;
  }
  .browser-error .content .boxes .box.browser {
    float: none;
  }
  .browser-error .content .boxes .box.os {
    float: none;
    margin-top: 30px;
  }
}