@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1; }
  40% {
    transform: perspective(400px) rotateX(-3deg); }
  70% {
    transform: perspective(400px) rotateX(3deg); }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  40% {
    transform: perspective(400px) rotateY(-3deg); }
  70% {
    transform: perspective(400px) rotateY(3deg); }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1; } }

@keyframes bounce {
  0%, 50%, 100% {
    border-width: 3px; }
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: alpha(enabled=false);
    opacity: 1; }
  50% {
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    filter: alpha(Opacity=60);
    opacity: .6; }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: alpha(enabled=false);
    opacity: 1; } }
