@mixin planBoxesFixed() {
    .plan-options-wrap.fixed {
        .fix-plan-spacer {
            height: 180px;
            @media all and (max-width: 990px) {
                height: 402px;
            }
        }
    }

    .plan-boxes-top {
        &.fixed {
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 1000;
            background-color: #fff;
            height: 138px;

            .fixed-only {
                display: block;

                h2 {
                    margin: 20px auto 28px;
                }
            }



            .three-boxes {
                .boxes {
                    .box {
                        height: 118px;
                        &.pet-care {
                            .circle {
                                right: -2px;
                            }
                            .price {
                                right: 10px;
                            }
                        }

                        &.plan-for {
                            .small-title {
                                padding-top: 8px;
                                position: absolute;
                                right: 0px;
                                top: 50%;
                                margin-top: -30px;
                                text-align: center;
                                left: 100px;
                            }

                            h4 {
                                font-size: 24px;
                                font-weight: 500;
                                line-height: 1.42;
                                letter-spacing: -0.15px;
                                position: absolute;
                                right: 0px;
                                top: 50%;
                                text-align: center;
                                left: 100px;
                                margin-top: -5px;
                            }

                            .pet-animation {
                                position: absolute;
                                left: 16px;
                                top: 0;
                            }
                        }

                        .box-header {
                            height: calc(100% - 50px);
                        }

                        .box-cta-info {
                            display: none;
                        }

                        .copy {
                            left: -1px;
                            top: 9px;

                            p {
                                font-size: 14px;
                                white-space: nowrap;
                                font-weight: 400;
                                margin: 0;

                                br {
                                    display: none;
                                }
                            }
                        }

                        .btn {
                            bottom: 0;
                        }

                        .circle {
                            top: -22px;
                            right: -15px;
                        }



                        .price {
                            top: 8px;
                        }

                        &.acci-pet {
                            .circle {
                                right: -2px;
                            }

                            .price {
                                right: 10px;
                            }
                        }

                        .btn {
                            opacity: 1;

                            &.disabled {
                                opacity: 0.5;
                            }
                        }

                        &.selected, &:hover {
                            .circle {
                                width: 130px;
                                height: 130px;
                                right: -15px;
                            }
                        }

                        &:hover {
                            .btn {
                                background-color: #f3b107;
                                border-color: #f3b107;
                            }
                        }

                        &.selected {
                            .btn {
                                background-color: #469f35;
                                border-color: #469f35;
                            }
                        }
                    }
                }
            }

            @media all and (max-width:990px) {
                .three-boxes {
                    width: 100%;
                    max-width: 100%;
                    margin: -10px -10px 0 0;

                    &.plans {
                        .box {
                            &.acci-pet,
                            &.pet-care {
                                .circle {
                                    left: auto;
                                    top: -15px;
                                    width: 120px;
                                    height: 120px;
                                    right: -15px;

                                    &:hover {
                                        left: auto;
                                        top: -25px;
                                        width: 140px;
                                        height: 140px;
                                        right: -25px;
                                    }
                                }

                                .price {
                                    right: 20px;
                                    top: 20px;
                                    width: auto;
                                    pointer-events: none;

                                    .text {
                                        margin-left: -70px;
                                        bottom: -46px;
                                    }
                                }
                            }

                            .box-header {
                                border-radius: 0;
                            }
                        }
                    }

                    .boxes {
                        .box {
                            width: 100%;
                            border-radius: 0;
                            height: 130px;

                            &.plan-for {
                                display: none;
                            }

                            .copy {
                                text-align: left;
                                padding: 10px 22px;

                                h4 {
                                    line-height: 1;
                                }

                                p {
                                    display: block;

                                    br {
                                        display: none;
                                    }

                                    margin: 0;
                                    line-height: 1;
                                }
                            }

                            .btn {
                                display: block;
                                width: calc(100% - 40px);
                                bottom: 0;
                                left: 20px;
                                height: 42px;
                            }
                        }
                    }

                    &.col-2 {
                        &.plans {
                            .boxes {
                                .box {
                                    &.pet-care {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &.col-1 {
                        &.plans {
                            .boxes {
                                .box {
                                    &.acci-pet {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }


                .plans-choose-mobile {
                    display: none;
                }
            }
        }

        &.absolute {
            position: absolute;
            top: auto !important;
            bottom: -9px;
            height: 138px;
        }
    }
}
