<ul id="accessable-dropdown" class="dropdown {{ selectClass }}" (window:click)="close()">
    <li id="dropdown-label" class="dropdown__label">
        {{label}}
    </li>

    <li
        role="button"
        aria-labelledby="dropdown-label"
        id="dropdown__selected"
        tabindex="0"
        (click)="toggleListVisibility($event);"
        (keydown)="toggleListVisibility($event);"
        [innerHTML]="value.label  | safe: 'html'"
    ></li>

    <!-- <svg
        class="dropdown__arrow {{isOpen? 'expanded':''}}"
        width="10"
        height="5"
        viewBox="0 0 10 5"
        fill-rule="evenodd"
    >
        <title>Open drop down</title>
        <path d="M10 0L5 5 0 0z"></path>
    </svg> -->
    <li attr.aria-expanded="{{isOpen}}" role="list" class="dropdown__list-container">
        <ul class="dropdown__list {{isOpen?'open':''}}">
            <li
                *ngFor="let item of items; let i = index;"
                #listItem
                class="dropdown__list-item"
                tabindex="0"
                id="{{item.label}}"
                (click)="setValue();"
                (keydown)="listItemKeyEvent($event)"
                attr.data-id="{{ item.id }}"
                [class]="i === selectedIndex ? 'selected' : ''"
                >
                {{item.label}}
            </li>
        </ul>
    </li>
</ul>
