
<section class="claim-section">
    <div class="confirm-tick"></div>
    <h1 *ngIf="!freeCover">
        Success!
        <br>
        We've got your claim for {{petName}}
    </h1>
    <h1 *ngIf="freeCover">
        Success!
        <br>
        We've got your Free Cover claim for <br>{{petName}}
    </h1>
    <div class="confirmation">
        <p *ngIf="!freeCover">
            We'll be in touch soon to confirm we've got your claim (usually within one working day). We may also contact you if we need more information.
            <br>
            <br>
            If you have more to claim, you can make another claim below.
        </p>
        <p *ngIf="freeCover">
            We'll be in touch soon to confirm the outcome of your claim. We may also contact you if we need more information. 
            <br>
            <br>
            If you have more to claim, you can make another claim below.
        </p>
        <div class="button outline" (click)="makeAnotherClaim()">Make another claim</div>
        <a href="https://www.southerncrosspet.co.nz/" class="button" (click)="returnToWebsite()">Return to website</a>
    </div>
    <div class="dog-cat">

          <img class="dog " srcset="/make-a-claim/Content/images/dog-static.png 1x, /make-a-claim/Content/images/dog-static@2x.png" src="/make-a-claim/Content/images/dog-static.png" alt="dog" />
          <img class="cat " srcset="/make-a-claim/Content/images/animations/cat1.png 1x, /make-a-claim/Content/images/animations/cat1@2x.png" src="/make-a-claim/Content/images/animations/cat1.png" alt="dog" />

      </div>
</section>
