@using SC_Pet_Claim.Models;
@model BrowserDetectionModel
@{
    // Model.BrowserError = true;
    // Model.ErrorBlock = "use-chrome-firefox-safari";
    //  Model.BrowserMessage = "browser-switch";
}
<div class="browser-error">
    <div class="content">
        <div id="browser-error-popup" class="form-overlay show ">
            <div class="form-panel browser">

                <h1>Uh-oh, it looks like your software isn’t supported</h1>
                <p>
                    To keep this site safe and secure for all our users, your browser and
                    operating system need to meet our security standards.
                </p>
                <div class="boxes clearfix">
                    <div class="box browser">
                        <div class="type">Browser</div>
                        @if (Model.BrowserError)
                        {
                            <div class="icon">
                                <img src="~/Content/images/browser/circle-cross.svg" alt="Not Supported" />
                            </div>
                        }
                        else
                        {
                            <div class="icon"><img src="~/Content/images/browser/icon-check-tick-green.svg" alt="Supported" /></div>
                        }
                        <div class="name">
                            @Model.BrowserName

                        </div>
                        <div class="version">
                            v @Model.BrowserVersion
                        </div>
                        @if (Model.BrowserError)
                        {
                            <div class="support">NOT SUPPORTED</div>

                            switch (Model.BrowserMessage)
                            {
                                case "browser-mobile":
                                    <p>You can try switching to a different browser, or use your mobile device to access this site.</p>
                                    break;
                                case "browser-switch":
                                    <p>You can try switching to a different browser.</p>
                                    break;
                                case "no-support":
                                    <p>There are no supported browsers on your current operating system.</p>
                                    break;
                                default:
                                    <p>Update your browser to the latest version.</p>
                                    break;
                            }

                            switch (Model.ErrorBlock)
                            {

                                case "explorer":
                                    <div class="btn-wrap">
                                        <a href="https://www.microsoft.com/en-us/download/details.aspx?id=41628" target="_blank" class="btn" data-category="Software check" data-action="download browser">
                                            Download Internet Explorer 11
                                        </a>
                                    </div>
                                    break;
                                case "firefox":
                                    <div class="btn-wrap">
                                        <a href="https://www.mozilla.org/en-US/exp/firefox/new/" target="_blank" class="btn" data-category="Software check" data-action="download browser">
                                            Upgrade to the latest
                                        </a>
                                    </div>
                                    break;
                                case "use-firefox":
                                    <div class="btn-wrap">

                                        <div class="browser-icons one">
                                            <a href="https://www.mozilla.org/en-US/exp/firefox/new/">
                                                <img src="~/Content/images/browser/firefox.svg" alt="Firefox" />
                                                <span>

                                                    Firefox
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    break;
                                case "use-chrome-firefox":
                                    <div class="btn-wrap">

                                        <div class="browser-icons two">
                                            <a href="https://www.google.com/chrome/">
                                                <img src="~/Content/images/browser/chrome.svg" alt="Firefox" />
                                                <span>
                                                    Chrome
                                                </span>
                                            </a>
                                            <a href="https://www.mozilla.org/en-US/exp/firefox/new/">
                                                <img src="~/Content/images/browser/firefox.svg" alt="Firefox" class="ml" />
                                                <span>
                                                    Firefox
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    break;
                                case "use-chrome-firefox-safari":
                                    <div class="btn-wrap">
                                        <div class="browser-icons three">

                                            <a href="https://www.google.com/chrome/">
                                                <img src="~/Content/images/browser/chrome.svg" alt="Chrome" />

                                                <span>
                                                    Chrome
                                                </span>
                                            </a>


                                            <a href="https://www.mozilla.org/en-US/exp/firefox/new/">
                                                <img src="~/Content/images/browser/firefox.svg" alt="Firefox" class="ml" />

                                                <span>
                                                    Firefox
                                                </span>
                                            </a>
                                            <a href="https://support.apple.com/downloads/safari">
                                                <img src="~/Content/images/browser/safari.svg" alt="Safari" class="ml" />
                                                <span>
                                                    Safari
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                    break;
                                case "no-support":

                                    break;
                                default:
                                    <a href="https://www.google.com/chrome/" class="btn" target="_blank" data-category="Software check" data-action="download browser">
                                        Download Google Chrome
                                    </a>
                                    break;
                            }

                        }
                        else
                        {
                            switch (Model.BrowserMessage)
                            {
                                case "update-latest":
                                    <div class="support yes">UPGRADE TO THE LATEST</div>
                                    break;
                                default:
                                    <div class="support yes">SUPPORTED</div>
                                    break;
                            }


                        }
                    </div>
                    <div class="box os">
                        <div class="type">Operating system</div>
                        @if (Model.OSError)
                        {
                            <div class="icon"><img src="~/Content/images/browser/circle-cross.svg" alt="Not Supported" /></div>
                        }
                        else
                        {
                            <div class="icon"><img src="~/Content/images/browser/icon-check-tick-green.svg" alt="Supported" /></div>
                        }
                        <div class="name">
                            @Model.Platform
                        </div>
                        <div class="version">
                            v @Model.PlatformVersion
                        </div>
                        @if (Model.OSError)
                        {
                            <div class="support">NOT SUPPORTED</div>
                            switch (Model.OSMessage)
                            {
                                case "update-osx":

                                    <p>
                                        You can either download a new Operating System for your computer, or use your mobile device to access this site.
                                    </p>
                                    <a href="https://www.google.com/chrome/" class="btn" target="_blank" data-category="Software check" data-action="download browser">
                                        Find out how to upgrade your OS
                                    </a>
                                    break;
                                case "no-support":
                                    <p>
                                        Please upgrade your operating system or use a mobile phone.
                                    </p>
                                    break;

                                default:
                                    <p>
                                        You can access this site on your mobile or tablet instead. Simply open the device’s internet browser and type in <a href="http://southerncrosspet.co.nz" target="_blank">http://southerncrosspet.co.nz</a>
                                    </p>
                                    break;
                            }
                        }
                        else
                        {
                            switch (Model.OSMessage)
                            {
                                case "limit-support":
                                    <div class="support yes">LIMITED SUPPORT</div>
                                    break;
                                default:
                                    <div class="support yes">SUPPORTED</div>
                                    break;
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

