<div class="table">
    <div class="row">
        <label for="{{inputId}}" class="cell label">
            {{label}}&nbsp;&nbsp;<app-help-icon class="{{help === undefined ? 'hide' : ''}}" [helpId]="help"  [offsetY]="15"></app-help-icon>
        </label>

        <div class="cell input address-search {{error ? 'input-cell-error' : ''}}">
            <input
                #inputTextElement
                class="txt-input {{error && !showManualFields ? 'input-error' : ''}} "
                id="{{inputId}}"
                type="text"
                [(ngModel)]="value.partialAddress"
                (input)="input()"
                (focusin)="focusin()"
                (focusout)="focusout()"
                placeholder="{{placeholder}}"
                (keydown)="keydown($event)"
                tabindex="{{tab}}"
                data-role="none"
            >
            <div class="icon_loading" *ngIf="searchingAddress">
                <div  class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
            <img (click)="clearfield()" *ngIf="clearbutton && value.partialAddress !== ''" src="/quote/Content/images/pet-quote/icon-clear-field.svg" alt="clear field" class="icon_clear_field">
            <div class="address-search-result" *ngIf="hasSearchResults || searchError">
                <div *ngFor="let item of responseAddresses;let i = index;"
                class="address-search-item"
                [ngClass]="i === selectedIndex ? 'selected' : ''"
                (click)="selectedAddress(item)"
                [innerHTML]="item.partialAddress  | safe: 'html'"></div>
                 <div class="no-address-results" *ngIf="noSearchResults">
                    We can’t find this address. <span (click)="enterManually()">Please enter the address manually</span>.
                </div>
            </div>
        </div>
    </div>
    <div class="row error-message {{error && !showManualFields ? 'show' : ''}}">
        <div class="cell label"></div>
        <div class="cell">
            {{errorMessage}}
        </div>
    </div>
    <div class="row" *ngIf="showManualFields">
        <label class="cell label">
           &nbsp;
        </label>
        <div class="cell input">
            <div class="enter-man">Enter address manually</div>
            <input
                #inputTextElement
                class="txt-input {{errorAddress ? 'input-error' : ''}}"
                (input)="validateManual('street')"
                (focusin)="manualFocus('street')"
                (focusout)="validateField('street')"
                type="text"
                [(ngModel)]="value.street"
                placeholder="Street number and name"
                tabindex="{{tab}}"
                data-role="none"
                maxlength="30"
            >
            <div [class]="errorAddress ? 'address-error show' : 'address-error'">Please enter in a street number and name</div>
        </div>
    </div>
    <div class="row" *ngIf="showManualFields">
        <label class="cell label">
           &nbsp;
        </label>
        <div class="cell input space-top">
            <input
                #inputTextElement
                class="txt-input {{errorSuburb ? 'input-error' : ''}}"
                (input)="validateManual('suburb')"
                (focusin)="manualFocus('suburb')"
                (focusout)="validateField('suburb')"
                type="text"
                [(ngModel)]="value.suburb"
                placeholder="Suburb"
                tabindex="{{tab}}"
                data-role="none"
                maxlength="30"
            >
            <div [class]="errorSuburb ? 'address-error show' : 'address-error'">Please enter in a suburb</div>
        </div>
    </div>
    <div class="row" *ngIf="showManualFields">
        <label class="cell label">
           &nbsp;
        </label>
        <div class="cell input space-top">
            <input
                #inputTextElement
                class="txt-input {{errorCity ? 'input-error' : ''}}"
                (input)="validateManual('city')"
                (focusin)="manualFocus('city')"
                (focusout)="validateField('city')"
                type="text"
                [(ngModel)]="value.city"
                placeholder="Town / City"
                tabindex="{{tab}}"
                data-role="none"
                maxlength="30"
            >
            <div [class]="errorCity ? 'address-error show' : 'address-error'">Please enter in a town or city</div>
        </div>
    </div>
    <div class="row" *ngIf="showManualFields">
        <label class="cell label">
           &nbsp;
        </label>
        <div class="cell input space-top">
            <input
                #inputTextElement
                class="txt-input {{errorPostcode ? 'input-error' : ''}} "
                (input)="validateManual('postcode')"
                (focusin)="manualFocus('postcode')"
                (focusout)="validateField('postcode')"
                type="text"
                appDigitOnly
                [(ngModel)]="value.postCode"
                placeholder="Postcode"
                tabindex="{{tab}}"
                data-role="none"
                maxlength="20"
            >
            <div [class]="errorPostcode ? 'address-error show' : 'address-error'">Please enter in a post code</div>
        </div>
    </div>
    <div class="row" *ngIf="showManualFields">
        <label class="cell label">
           &nbsp;
        </label>
        <div class="cell input {{error ? 'input-cell-error' : ''}} space-top">
            <input
                #inputTextElement
                class="txt-input"
                type="text"
                [(ngModel)]="value.country"
                placeholder="Country"
                tabindex="-1"
                data-role="none"
                maxlength="30"
                [readonly]="true"
            >
 
        </div>
    </div>
</div>
