<section #applyAboutYou class="apply">
  <h2>Tell us about you, the&nbsp;policyholder.</h2>
  <div class="form">
    <div class="form-item">
      <app-select-box
        #title
        label="Title"
        [required]="true"
        errorMessage="Please enter your title"
        [items]="copy.titles"
        tab="1"
        [(ngModel)]="quote.title"
        (selectChange)="validateForm(); focusFirstName(); trackField('title')"
        (trackError)="trackFieldError($event,'title')"
        size="small"
      ></app-select-box>
    </div>
    <div class="form-item">
      <app-text-input
        #firstname
        label="First name"
        [required]="true"
        [maxlength]=30
        errorMessage="Please enter your first name"
        (inputChange)="validateForm()"
        (inputFocusin)="validateTitle(); trackField('firstname')"
        (trackError)="trackFieldError($event,'firstname')"
        tab="2"
        [(ngModel)]="quote.firstname"
        [clearbutton]="true"
        help="full-name"
        classes="capitalise-input block-mobile"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        #lastname
        label="Last name"
        [required]="true"
        [maxlength]=30
        errorMessage="Please enter your last name"
        (inputChange)="validateForm()"
        (inputFocusin)="trackField('lastname')"
        (trackError)="trackFieldError($event,'lastname')"
        tab="3"
        [(ngModel)]="quote.lastname"
        [clearbutton]="true"
        classes="capitalise-input block-mobile"
      ></app-text-input>
    </div>
    <div class="form-item">
        <app-datepicker-input
          #dob
          tab="4"
          label="Date of birth"
          [value]="quote.dob"
          [(ngModel)]="quote.dob"
          (valueChange)="validateForm()"
          (focusInField)="trackDOBField($event)"
          (trackError)="trackFieldError($event,'apply_dob')"
          errorMessage="This doesn’t look right. Please check."
          clearbutton="true"
          [endRange]="dobEndRange"
          [startRange]="dobStartRange"
          [hidepicker]="true"
          [required]="true"
          [isDOB]="true"
          errorMessageRange="You must be over 18 to get a quote."
          errorMessageOverRange="This doesn't look right. Please check."
        ></app-datepicker-input>
    </div>

    <div class="form-item">
      <app-address-search-input
      #addressSearch
      tab="5"
      label="Your home address"
      inputId="search-address"
      errorMessage="Please input your address"
      placeholder="Just start typing&hellip;"
      [(ngModel)]="quote.address"
      [clearbutton]="true"
      [showManualFields]="quote.addressIsManual"
      classes="block-mobile"
      (inputChange)="validateForm(); trackField('address_select')"
      (inputFocusin)="trackField('address_search')"
      (trackError)="trackFieldError($event,'address_search')"
      (manualInputFocusin)="trackAddressField($event)"
      help="address-help"
      ></app-address-search-input>
    </div>
    <div class="form-item">
        <app-text-input
        #phone
        label="Your phone number"
        errorMessage="Please enter your phone number"
        (inputChange)="validateForm()"
        (inputFocusin)="trackField('phone')"
        (trackError)="trackFieldError($event,'phone')"
        [(ngModel)]="quote.phone"
        tab="6"
        [clearbutton]="true"
        type="tel"
        [maxlength]=15
        validateType="phone"
        classes="block-mobile"
        [required]="true"
      ></app-text-input>
    </div>
    <div class="form-item">
      <app-text-input
        label="Your email address"
        type="email"
        #email
        [required]="true"
        validateType="email"
        errorMessage="This doesn't look right, please check."
        (inputChange)="validateForm()"
        (inputFocusin)="trackField('email')"
        (trackError)="trackFieldError($event,'email')"
        [(ngModel)]="quote.email"
        [maxlength]=80
        tab="7"
        classes="block-mobile"
        [clearbutton]="true"
      ></app-text-input>
    </div>
    <div *ngIf="quote.alreadyHavePetInsuranceUs" class="form-item">
      <app-text-input
        #petInsuranceNumber
        [classes]="'prefixed-input policy-number  block-mobile'"
        label="Your Southern Cross Pet Policy Number"
        [(ngModel)]="quote.petInsuranceNumber"
        tab="8"
        [clearbutton]="true"
        (inputChange)="validateForm()"
        (inputFocusin)="trackField('policy_number')"
        help="already-have-pet"
        type="text"
        [maxlength]="8"
        [placeholder]="'Pet Policy Number&hellip;'"
      ></app-text-input>
    </div>


    <div *ngIf="quote.southernCrossSocietyMember" class="form-item">
      <app-text-input
        #memberCardNumber
        [classes]="'prefixed-input member-number  block-mobile'"
        label="Your Southern Cross Health Policy / Member number"
        [(ngModel)]="quote.memberNumber"
        tab="9"
        [clearbutton]="true"
        (inputChange)="validateForm()"
        (inputFocusin)="trackField('sc_member_number')"
        help="schs-member"
        [maxlength]=10
        type="text"
        [placeholder]="'Membership number&hellip;'"
        [required]="true"
        validateType="schspolicy"

      ></app-text-input>
    </div>

  </div>

  <div class="terms-confirm">
    <app-check-description-box
      #agreeToTerms
      title="We take your privacy seriously. Please read and tick the box to accept before you proceed."
      [description]="copy.agreeTermsNoLink"
      [(ngModel)]="quote.agreedTerms"
      (valueChanged)="privacyStatementChange(); trackField('agree_terms')"
      (toggleShow)="privacyStatementShow($event); trackField('show_terms')"
      [expandable]="true"
      [required]="true"
      [copy]="copy.privacyStatementPolicy"
      [tab]="10"
      [errormessage]="'Please check the box to indicate you have read the full privacy statement'"
    ></app-check-description-box>
  </div>



  <div class="form {{showOtherPerson ? '' : 'collapsable'}}" #authorisedPersonSection>

    <div class="form-item {{quote.addAnotherAuthorisedPerson ? 'space-bottom' : ''}}">
      <app-yes-no-radio-buttons
        #authorisedPersonRadio
        class="wide-label"
        [(ngModel)]="quote.addAnotherAuthorisedPerson"
        tab="11"
        label="Add another authorised person to this policy?"
        (valueChange)="validateForm(); trackAuthPer($event);"
        [help]="'authorised-person'"
        ></app-yes-no-radio-buttons>
    </div>
    <div class="{{quote.addAnotherAuthorisedPerson ? '' : 'hide'}}">
        <div class="form-item">
          <app-select-box
            label="Title"
            #otherTitle
            [required]="true"
            errorMessage="Please enter their title"
            [items]="copy.titles"
            tab="12"
            size="small"
            [(ngModel)]="quote.otherTitle"
            classes="block-mobile"
            (selectChange)="validateForm(); focusOtherFirstName(); trackField('other_title');"
            (trackError)="trackFieldError($event,'other_title')"
          ></app-select-box>
        </div>
        <div class="form-item">
          <app-text-input
            label="First name"
            #otherFirstname
            [required]="quote.addAnotherAuthorisedPerson"
            errorMessage="Please enter their first name"
            (inputChange)="validateForm()"
            (inputFocusin)="validateOtherTitle();trackField('other_firstname');"
            (trackError)="trackFieldError($event,'other_firstname')"
            [(ngModel)]="quote.otherFirstname"
            tab="13"
            [maxlength]="30"
            [clearbutton]="true"
            classes="capitalise-input block-mobile"
          ></app-text-input>
        </div>
        <div class="form-item">
          <app-text-input
            label="Last name"
            #otherLastname
            [required]="quote.addAnotherAuthorisedPerson"
            errorMessage="Please enter their last name"
            (inputChange)="validateForm()"
            (inputFocusin)="trackField('other_lastname')"
            (trackError)="trackFieldError($event,'other_lastname')"
            [(ngModel)]="quote.otherLastname"
            tab="14"
            [maxlength]="30"
            [clearbutton]="true"
            classes="capitalise-input block-mobile"
          ></app-text-input>
        </div>
        <div class="form-item">

            <app-datepicker-input
              #otherDOB
              label="Date of birth"
              [value]="quote.otherDOB"
              [(ngModel)]="quote.otherDOB"
              (valueChange)="validateForm()"
              (focusInField)="trackOtherDOBField($event)"
              (trackError)="trackFieldError($event,'other_dob')"
              errorMessage="This doesn't look right. Please check."
              errorMessageRange="Authorised person must be over 18"
              errorMessageOverRange="This doesn't look right. Please check."
              clearbutton="true"
              tab="15"
              pickerTarget="quoteOtherDOB"
              [endRange]="dobEndRange"
              [startRange]="dobStartRange"
              [hidepicker]="true"
              [required]="true"
              [isDOB]="true"
              classes="block-mobile"
            ></app-datepicker-input>

        </div>
        <div class="form-item">
            <app-text-input
              label="Phone number"
              #otherPhone
              [required]="quote.addAnotherAuthorisedPerson"
              errorMessage="Please enter their phone"
              (inputChange)="validateForm()"
              (inputFocusin)="trackField('other_phone')"
              (trackError)="trackFieldError($event,'other_phone')"
              [(ngModel)]="quote.otherPhone"
              tab="16"
              type="tel"
              [maxlength]="15"
              [validateType]="'phone'"
              [clearbutton]="true"
              classes="block-mobile"
            ></app-text-input>
        </div>
        <div class="form-item">
            <app-text-input
              label="Email address"
              validateType="email"
              #otherEmail
              [required]="quote.addAnotherAuthorisedPerson"
              errorMessage="This doesn't look right, please check."
              (inputChange)="validateForm()"
              (inputFocusin)="trackField('other_email')"
              (trackError)="trackFieldError($event,'other_email')"
              [(ngModel)]="quote.otherEmail"
              tab="17"
              [clearbutton]="true"
              classes="block-mobile"
            ></app-text-input>
        </div>
    </div>
  </div>
  <div class="authorize-confirm {{quote.addAnotherAuthorisedPerson && showOtherPerson ? '' : 'hide'}}">
      <app-check-description-box
        #disclodeAuthorisedPerson
        (valueChanged)="validateForm(); trackField('other_authorised_to_disclose')"
        [(ngModel)]="quote.authorisedToDiscloseOther"
        tab="18"
        [description]="copy.authorizedOther"
        errormessage="Please check the box to indicate you have read the full privacy statement"
        [required]="true">
      </app-check-description-box>
  </div>
  <app-next-back (goNext)="captchaRef.execute()" (goBack)="back()" [enabledNext]="complete" nextTabIndex="29"></app-next-back>
  <app-recaptcha #captchaRef (resolved)="next($event)"></app-recaptcha>
</section>
<app-privacy-statement-modal
  #privacyStatementModel
  title="We take your privacy seriously. Please read and tick the box to accept before you proceed."
  [copy]="copy.privacyStatementPolicy"
  [description]="copy.agreeTerms"
  [show]="showPrivacyStatement"
  [quote]="quote"
  (acceptPolicy)="toggleAcceptTerms($event); trackField('agree_terms_mobile')"
  (closePopup)="closeAcceptTerms()"
></app-privacy-statement-modal>
