<section class="claim-section">
    <div class="intro">
        <h1>Review your claim</h1>
        <p>Check your claim and bank details then read the declaration. <br>If you’re happy to proceed you can submit your claim. </p>
       
    </div>

    <div class="review-claim">
        <h2>Claim for {{petName}}</h2>
        <div *ngIf="invoices.length > 0">
            <div class="invoices">
                <app-review-invoice 
                *ngFor="let invoice of invoices;index as i" 
                [invoice]="invoice"
                [index]="i"
                (viewInvoice)="viewInvoice($event)"
                (deleteInvoice)="deleteInvoice($event)"
                ></app-review-invoice>
            </div>
            <div class="total">
                <div class="label">
                    Total
                </div>
                <div class="total-amount">
                    ${{totalAmount}}
                </div>
            </div>
            <div class="add-more">Forgotten something? <span class="link {{invoices.length === invoiceTotal ? 'disabled' : ''}}" (click)="addMore('Forgotten something? Add more')">You can add more invoices here</span></div>
        </div>
        <div *ngIf="invoices.length === 0">
            <div class="add-more"><div class="link" (click)="addMore('You have no invoices! Add invoice')">You have no invoices! Add invoice</div></div>
        </div>
        <hr>
    </div>
    <h2 class="align-mobile">
        Supporting documents
    </h2>
    <div class="document-list clearfix">

        <app-upload-multiple-files
        [hideNotSelected]="true"
        interactionName="Supporting documents"
        (fileRemove)="fileRemove($event,'invoice')"
        [fileList]="invoiceUploads"></app-upload-multiple-files>

        <app-upload-multiple-files 
        [hideNotSelected]="true"
        interactionName="Supporting documents"
        (fileRemove)="fileRemove($event,'history')"
        [fileList]="historyUploads"></app-upload-multiple-files>

    </div>
    <div class="no-docs-selected clearfix" *ngIf="noDocsSelected">
        <p>
            There are no documents attached to support this claim.
        </p>
        <a routerLink="/upload-documents" class="button add-file" (click)="callToAction('Add a file')"><span class="plus"></span>Add a file</a>
    </div>
    <a routerLink="/upload-documents" *ngIf="addMoreDocs && !noDocsSelected" class="button outline add-file large" 
    (click)="callToAction('Add a file')"><span class="plus"></span>Add another document</a>
    <a routerLink="/upload-documents" *ngIf="!addMoreDocs && !noDocsSelected" class="button outline add-file"
    (click)="callToAction('Edit Attachments')">Edit Attachments</a>
    <hr>
    <h2>
        Receiving payment
    </h2>
    <fieldset>
        <label class="no-padding-top">
            Bank account number
            <app-help-icon [copy]="bankAccountCopy" helpId="bankAccount"></app-help-icon>
            <div class="bank-account-number-sub">You can paste it here from another source</div>
        </label>
        <div class="input">
            <app-bank-account [(ngModel)]="bankAccount" interactionName="Bank account number" [tabindexValue]="1" (inputChange)="updateState($event)"></app-bank-account>
        </div>
    </fieldset>
    <fieldset>
        <div class="input">
            <app-check-box [(ngModel)]="vetBankAccount" [tabindexValue]="5" interactionName="Please check this box if these bank details belong to your vet" (inputChange)="updateState($event)" description="Please check this box if these bank details belong to your vet"></app-check-box>
        </div>
    </fieldset>
    <fieldset *ngIf="vetBankAccount">
        <label>Account holder's name</label>
        <div class="input">
       
            <app-text-input 
            maxlength="50"
            interactionName="Account holder name"
            [tabindexValue]="7" 
            [(ngModel)]="vetAccountName" 
            (inputChange)="updateState($event)"
            placeholder="Enter the account holder’s name">
        </app-text-input>
        </div>
    </fieldset>
    <hr>

    <div class="privacy">

        <h2 *ngIf="!freeCover">Privacy Statement and declaration</h2>
        <h2 *ngIf="freeCover">Free Cover Privacy Statement and declaration</h2>

        <p *ngIf="!freeCover">
            We will use the information in this form to process, investigate and review your claim. To find out more 
            about how Southern Cross Pet Insurance will deal with your information, including your right to access and 
            correct it, please read our full <a href="https://www.southerncrosspet.co.nz/privacy-statement" target="_blank">Privacy Statement</a>.
        </p>
        <p *ngIf="freeCover">
            We will use the information in this form to process, investigate and review your claim. To find out more about how Southern Cross Pet 
            Insurance will deal with your information, including your right to access and correct it, please read our full 
            <a href="https://www.southerncrosspet.co.nz/free-cover/privacystatement" target="_blank">Free Cover Privacy Statement</a>. 

        </p>      
        <p>Please read and confirm the declaration below. I declare that:</p>
            
        <ul class="normal" *ngIf="!freeCover">
            <li>I am the policyholder or I am authorised on the policy to submit this claim on the policyholder’s behalf.</li>
            <li>All of the information supplied on this claim form is complete, true and accurate. I understand that any false or incorrect information I provide may result in this claim being declined and/or this policy being cancelled in accordance with its terms.</li>
            <li>This claim is made in accordance with the policy document.</li>
            <li>I authorise Southern Cross Pet Insurance Limited to obtain from any person or organisation any further information required to evaluate this claim, and I authorise that person or organisation to disclose such information to Southern Cross Pet Insurance Limited.</li>
            <li>I authorise any refund to the bank account listed on this claim form.</li>
        </ul>
        <ul class="normal" *ngIf="freeCover">
            <li>I am authorised to submit this claim.</li>
            <li>All of the information supplied on this claim form is complete, true and accurate. I understand that any false or misleading information I provide will result in the Free Puppy and Kitten Health Cover ending immediately and that Southern Cross Pet Insurance Limited will not be responsible or liable for any claim or payment of any kind to you whatsoever.</li>
            <li>This claim is made in accordance with the terms and conditions of the Free Puppy and Kitten Health Cover.</li>
            <li>I authorise Southern Cross Pet Insurance Limited to obtain from any person or organisation any further information required to evaluate this claim, and I authorise that person or organisation to disclose such information to Southern Cross Pet Insurance Limited.</li>
            <li>I authorise any refund to the bank account listed on this claim form.</li>
        </ul>
          


        <div class="delcare">
            <app-check-box
            interactionName="I have read and agree to the above declaration"
            [(ngModel)]="agreeDeclaration" [tabindexValue]="8" (inputChange)="updateState($event)" [html]="agreeCopy"></app-check-box>
        </div>
    </div>
</section>
<app-next-back (goNext)="next()" (goBack)="back()" [allowNext]="complete && !submitted" [tabindexValue]="9" [nextArrow]="false" nextLabel="Submit claim"></app-next-back>

