<div id="att-p-b" class="popup-box force-show" data-current-popup="0">
    <div class="blackout" (click)="close()"></div>
    <div class="vertical-align-container">
        <div class="vertical-align">
           <div class="box" data-index="0">
                <div class="close-btn" role="button" tabindex="0" (click)="close()"></div>
                <div class="content petquote-popup">
                    <h2>Save on pet insurance with&nbsp;us</h2>
                    <h3>Pet insurance is often a lot cheaper than you think, especially with our great&nbsp;discounts.</h3>
                    <div class="discount-items " attr.data-slide="{{index}}">
                        <div class="arrow-left arrow" (click)="back()"></div>
                        <div class="arrow-right arrow" (click)="next()"></div>
                        <div class="discount-item-track">
                            <div [class]="index === 0 ? 'discount-item show' : 'discount-item'"  data-index="0">
                                <div class="discount-heading">
                                    Additional pet discount
                                </div>
                                <div class="circle">
                                    <div class="circle-inner">
                                        <span class="number">5</span>
                                        <div>
                                            <span class="symbol">%</span>
                                            <span class="text">off</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="subtext">
                                    Save 5% for<br> each additional pet<br> on your policy
                                </div>
                            </div>
                            <div [class]="index === 1 ? 'discount-item show' : 'discount-item'"  data-index="1">
                                <div class="discount-heading">
                                    Direct Debit discount
                                </div>
                                <div class="circle">
                                    <div class="circle-inner">
                                        <span class="number">2.5</span>
                                        <div>
                                            <span class="symbol">%</span>
                                            <span class="text">off</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="subtext">
                                    Save 2.5% when<br> you pay by <br> direct debit
                                </div>
                            </div>
                            <div [class]="index === 2 ? 'discount-item show' : 'discount-item'"  data-index="2">
                                <div class="discount-heading">
                                    Health Society discount
                                </div>
                                <div class="circle">
                                    <div class="circle-inner">
                                        <span class="number">2.5</span>
                                        <div>
                                            <span class="symbol">%</span>
                                            <span class="text">off</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="subtext">
                                    Save 2.5% if you’re a<br> Southern Cross Health<br> Society member
                                </div>
                            </div>
                            <div [class]="index === 3 ? 'discount-item show' : 'discount-item'"  data-index="3">
                                <div class="discount-heading">
                                    Lower costs with Co-payment
                                </div>
                                <div class="circle">
                                    <div class="circle-inner">
                                        <span class="number">20</span>
                                        <div>
                                            <span class="symbol">%</span>
                                            <span class="text">co-pay</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="subtext">
                                    Choose to pay 20% at<br> time of service and save<br> on your premium
                                </div>
                            </div>
                        </div>
                        <div class="dots">
                            <div class="dots-inner">
                                <div class="dot" data-index="0" (click)="setIndex(0)"></div>
                                <div class="dot" data-index="1" (click)="setIndex(1)"></div>
                                <div class="dot" data-index="2" (click)="setIndex(2)"></div>
                                <div class="dot" data-index="3" (click)="setIndex(3)"></div>
                            </div>
                        </div>
                    </div>
                    <button class="big-close-btn btn"  role="button" tabindex="0"  (click)="close()">Get a quote now</button>
                </div>
            </div>
        </div>
    </div>
</div>
