<div class="send-email {{show?'':'collapsable'}}">
  <img src="/quote/Content/images/pet-quote/close-btn.svg" class="close" alt="Close" (click)="close()">

  <div class="form-item">
    <app-text-input
      #firstnameInput
      label="First name"
      [required]="true"
      validateType="text"
      errorMessage="Please enter your first name"
      (inputChange)="validateForm('firstname')"
      (inputFocusout)="track('firstname')"
      [(ngModel)]="firstname"
      [clearbutton]="true"
      [maxlength]=30
      classes="capitalise-input"
    ></app-text-input>
  </div>
  <div class="form-item">
    <app-text-input
      #emailInput
      label="Email address"
      [required]="true"
      (inputFocusout)="track('email')"
      validateType="email"
      errorMessage="This doesn't look right, please check."
      (inputChange)="validateForm('email')"
      [(ngModel)]="email"
      [maxlength]=80
      [clearbutton]="true"
    ></app-text-input>
  </div>

  <div class="form-nav">
    <div class="txt-btn" (click)="close()">Cancel</div>
    <div class="btn med {{complete? '':'disabled'}}" (click)="submit()">Send</div>
  </div>

  <div class="subtext">
    We’ll use this information to contact you about your quote. If you want to know more  about how we handle this personal information <a href="https://www.southerncrosspet.co.nz/get-a-quote/privacy-statement" target="_blank">go here</a>.
  </div>
</div>
