
<div class="input-container"  *ngIf="type !== 'calendar' && type !== 'currency' && type !== 'policy-number'">
    <input 
    *ngIf="(type === 'text' || type === 'email')"
    [class]="error ? 'error' : ''"
    [type]="type" 
    [(ngModel)]="value"
    [placeholder]="placeholder" 
    attr.maxlength="{{maxlength}}" 
    [tabindex]="tabindexValue" 
    (input)="onInput()"
    (focusout)="validate(); trackField();"  
    (paste)="onPaste($event)"
    >

    <input 
    #searchInput
    [class]="error ? 'error' : ''"
    *ngIf="type === 'search'"
    type="text" 
    [(ngModel)]="searchValue"
    [placeholder]="placeholder" 
    attr.maxlength="{{maxlength}}" 
    [tabindex]="tabindexValue" 
    (input)="search()"
    (paste)="onPaste($event)" 
    (focusout)="validate(); trackField()"
    >
    
    <input 
    *ngIf="(type === 'number' || type === 'tel')"
    [class]="error ? 'error' : ''"
    type="tel" 
    [(ngModel)]="value"
    [placeholder]="placeholder" 
    attr.maxlength="{{maxlength}}" 
    [tabindex]="tabindexValue"
    (input)="onInput()"  
    (paste)="onPaste($event)"  
    (focusout)="validate(); trackField();" 
    appNumberOnly
    autocomplete="no" 
    >
    <span class="icon-clear" *ngIf="complete" (click)="clear()"></span>
</div>


<div #calendarInput *ngIf="type === 'calendar'" class="input-calendar" (click)="openCalendar($event)">
    {{dateTextValue}}
</div>
<div *ngIf="type === 'currency'" class="input-prefixed currency input-container {{complete ? 'complete' : ''}} {{error ? 'error' : ''}}">


    <input 
    type="text" 
    inputmode="decimal"

    #currencyInput
    (focusin)="selectCurrency()"
    (focusout)="validate(); trackField()"
    [(ngModel)]="value"
    placeholder="0.00" 
    maxlength="9" 
    [tabindex]="tabindexValue" 
    (input)="onInput()" 
    (paste)="onPaste($event)" 
    pattern="d+(.d{2})"
    appCurrencyOnly
    >

    <span class="icon-clear" *ngIf="complete" (click)="clear()"></span>
</div>

<div *ngIf="type === 'policy-number'" class="input-prefixed policy {{prefixedValue}} input-container {{complete ? 'complete' : ''}} {{error ? 'error' : ''}}">
   
    <input 
    type="tel" 

    (focusout)="validate(); trackField()"
    [(ngModel)]="value"
    [placeholder]="placeholder" 
    attr.maxlength="{{maxlength}}" 
    [tabindex]="tabindexValue" 
    (input)="onInput()"  
    (paste)="onPaste($event)"
    autocomplete="no"   
    appNumberOnly
    >
    <span class="icon-clear" *ngIf="complete" (click)="clear()"></span>
</div>



<div *ngIf="error" class="error-message">{{errorMessage}}</div>
<div [class]="displaySearchResults ? 'input-search' : 'input-search hidden'">
    <ul #searchList>
        <li
         
         *ngFor="let item of searchResults;index as i;trackBy: trackByFn" 
         (click)="selectSearchItem(item)"
         [class]="selectedItem.organisationId === item.organisationId ? 'focused' : ''"
        >
        <span>{{item.organisationName}}</span>
        </li>
    </ul>
</div>