<div class="popup {{show?'show':''}} cancel-application">
  <div class="popup-container">
      <div class="popup-cell">
          <div class="popup-curtain" (click)="cancel()"></div>
          <div class="popup-window">
              <img src="/quote/Content/images/pet-quote/close-btn.svg" class="close" alt="Close" (click)="cancel()">
              <h2>
                We're sorry you're not applying for cover&nbsp;today.
              </h2>
              <p class="sub-heading">
                We love looking after New Zealanders’ pets, so hope you’ll protect your fur baby with us soon. They're family too.
              </p>
              <div class="btn-wrap">
                <div class="btn white" (click)="cancel()">Go back</div>
                <div class="btn" (click)="confirm()">Cancel application</div>
              </div>
          </div>
      </div>
  </div>
</div>
