<section #aboutYou class="apply">
  <h2 tabindex="0">Tell us a little bit about yourself</h2>
  <div class="form centered">
            <div class="form-item">
                <app-text-input
                  #firstname
                  label="First name"
                  [required]="true"
                  [maxlength]=30
                  errorMessage="Please enter your first name"
                  (inputChange)="fieldsChanged()"
                  (inputFocusin)="trackField('firstname')"
                  (trackError)="trackFieldError($event,'firstname')"
                  tab="1"
                  [(ngModel)]="quote.firstname"
                  [clearbutton]="true"
                  help="full-name"
                  classes="capitalise-input block-mobile"
                ></app-text-input>
              </div>
              
              <div class="form-item">
                <app-text-input
                  #lastname
                  label="Last name"
                  [required]="true"
                  [maxlength]=30
                  errorMessage="Please enter your last name"
                  (inputChange)="fieldsChanged()"
                  (inputFocusin)="trackField('lastname')"
                  (trackError)="trackFieldError($event,'lastname')"
                  tab="2"
                  [(ngModel)]="quote.lastname"
                  [clearbutton]="true"
                  classes="capitalise-input block-mobile"
                ></app-text-input>
              </div>     
            <div class="form-item">
              <app-text-input
              #phone
              label="Your phone number"
              [maxlength]=15
              errorMessage="Please enter your phone number"
              (inputChange)="fieldsChanged()"
              (inputFocusin)="trackField('phone')"
              (trackError)="trackFieldError($event,'phone')"
              [(ngModel)]="quote.phone"
              tab="3"
              [clearbutton]="true"
              type="tel"
      
              validateType="phone"
              classes="block-mobile"
              [required]="true"
            ></app-text-input>
          </div>



            <div class="form-item">
                <app-text-input
                label="Your email address"
                type="email"
                #email
                [required]="true"
                validateType="email"
                errorMessage="This doesn't look right, please check."
                (inputChange)="fieldsChanged()"
                (inputFocusin)="trackField('email')"
                (trackError)="trackFieldError($event,'email')"
                [(ngModel)]="quote.email"
                tab="4"
                [maxlength]=80
                classes="block-mobile"
                [clearbutton]="true"
              ></app-text-input>
            </div>
       
    </div>
    <app-notice [content]="notice" styleClass="mobile-m"></app-notice>
    <app-next-back (goNext)="next()" (goBack)="back()" [enabledNext]="complete" nextTabIndex="6"></app-next-back>
    <app-recaptcha #captchaRef (resolved)="submit($event)"></app-recaptcha>
</section>


