


    <div class="help-container">
        <div class="w-c">
            <div class="title-container">
                <h2>Need a hand?</h2>
            </div>
            <div class="w-3">
  
                    <a class="col" data-index="0" href="/questions" target="_blank">
                        <span class="icon"></span>
                        <span class="copy">
                            <span class="title">FIND QUICK ANSWERS</span>
                            <span class="p">
                                Got a question? We have lots of quick answers here.
                            </span>
                        </span>
                        <span class="clear"></span>
                    </a>
                    <a class="col" data-index="1" href="/contact-us" target="_blank">
                        <span class="icon"></span>
                        <span class="copy">
                            <span class="title">SEND US A MESSAGE</span>
                            <span class="p">
                                Get in touch with the team and we’ll be happy to help.
                            </span>
                        </span>
                        <span class="clear"></span>
                    </a>


                    <div class="col" data-index="2">
                        <span class="icon"></span>
                        <span class="copy">
                            <span class="title">CALL 0800 800 836</span>
                            <span class="p">
                                Call us Monday to Thursday, 8.30am&nbsp;to&nbsp;5pm and Friday 9.00am&nbsp;to&nbsp;5pm.
                            </span>
                        </span>
                        <span class="clear"></span>
                    </div>

                    <div class="clear"></div>
                </div>
        </div>
    </div>

    <footer>
        <div class="footer-menu">
            <div class="w-c">
                <div class="menu-col">
                    <div class="menu-heading">What we offer</div>
                    <ul>
                        <li>
                            <a href="/why-dog-insurance">Pet insurance for dogs</a>
                        </li>
                        <li>
                            <a href="/why-cat-insurance">Pet insurance for cats</a>
                        </li>
                        <li>
                            <a href="/compare-pet-insurance">Flexible levels of cover</a>
                        </li>
                        <li>
                            <a href="/pet-hub/real-stories/lucys-story">Help with the unexpected</a>
                        </li>
                        <li>
                            <a href="/pet-hub/real-stories/finnegans-story">Cover when it's needed most</a>
                        </li>
                        <li>
                            <a href="/pet-hub/real-stories/lollys-story">Peace of mind</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-col">
                    <div class="menu-heading">Pet hub</div>
                    <ul>
                        <li>
                            <a href="/pet-hub/real-stories">Real stories</a>
                        </li>
                        <li>
                            <a href="/pet-hub/tips-and-tricks">Tips &amp; tricks</a>
                        </li>
                        <li>
                            <a href="/pet-hub/news">News</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-col">
                    <div class="menu-heading">Quick links</div>
                    <ul>
                        <li>
                            <a href="/compare-pet-insurance">Compare plans</a>
                        </li>
                        <li>
                            <a href="https://www.southerncross.co.nz/society/-/media/Southern-Cross-Pet-Insurance/Member-collateral/Plan-documents/Policy-docs/PetCare-Policy-Doc.pdf" target="_blank">PetCare policy document</a>
                        </li>
                        <li>
                            <a href="https://www.southerncross.co.nz/society/-/media/Southern-Cross-Pet-Insurance/Member-collateral/Plan-documents/Policy-docs/AcciPet-Policy-Doc.pdf" target="_blank">AcciPet policy document</a>
                        </li>
                        <li>
                            <a href="https://quote.southerncrosspet.co.nz" target="_blank">Pet insurance quote</a>
                        </li>
                        <li>
                            <a href="/make-a-claim">Make a claim</a>
                        </li>
                        <li>
                            <a href="https://www.southerncross.co.nz/pet/direct-debit-authority" target="_blank">Pay by Direct debit</a>
                        </li>
                        <li>
                            <a href="/partner-resource-hub">Partner resource hub</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-col">
                    <div class="menu-heading">Other Southern Cross Group sites</div>
                    <ul>
                        <li>
                            <a href="https://www.southerncross.co.nz/society" target="_blank">Health Insurance</a>
                        </li>
                        <li>
                            <a href="https://www.scti.co.nz" target="_blank">Travel insurance</a>
                        </li>
                        <li>
                            <a href="https://www.southerncrosslife.co.nz" target="_blank">Life insurance</a>
                        </li>
                        <li>
                            <a href="https://healthcare.southerncross.co.nz/" target="_blank">Healthcare</a>
                        </li>
                        <li>
                            <a href="http://www.southerncross.co.nz/group" target="_blank">About the group</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-col">
                    <div class="menu-heading">Important information</div>
                    <ul>
                        <li>
                            <a href="/solvency-margin">Financial strength &amp; Solvency</a>
                        </li>
                        <li>
                            <a href="/general-information">General Information</a>
                        </li>
                        <li>
                            <a href="/complaints-procedure">Complaints procedure</a>
                        </li>
                        <li>
                            <a href="/privacy-statement">Privacy statement</a>
                        </li>
                        <li>
                            <a href="/contact-us">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div id="wr"></div>
            </div>
        </div>

                <div class="footer-bar">
                    <div class="w-c">
                        <ul>
                            <li class="show-mobile" onclick="$('.footer-bar').toggleClass('open');">
                                Southern Cross websites
                                <div class="close-hitbox" on="tap:AMP.setState({open_footer_menu: ''})" role="button" tabindex="13"></div>
                            </li>
                            <li>
                                <a href="https://www.southerncross.co.nz/society" target="_blank">&#62; Health Insurance</a>
                            </li>
                            <li>
                                <a href="https://www.southerncross.co.nz/take-life-back" target="_blank">&#62; Take life back</a>
                            </li>
                            <li>
                                <a href="https://www.scti.co.nz/" target="_blank">&#62; Travel Insurance</a>
                            </li>
                            <li>
                                <a href="https://www.southerncrosslife.co.nz/" target="_blank">&#62; Life Insurance</a>
                            </li>
                            <li>
                                <a href="https://www.southerncrosspet.co.nz/" target="_blank">&#62; Pet Insurance</a>
                            </li>
                            <li>
                                <a href="https://healthcare.southerncross.co.nz/" target="_blank">&#62; Healthcare</a>
                            </li>
                            <li>
                                <a href="http://www.southerncross.co.nz/group" target="_blank">&#62; About the Group</a>
                            </li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
 

                <div class="c-bar">
                    <div class="w-c">
                        <div class="right">
                            <ul>
                                <li>
                                    <a href="/sitemap">Sitemap</a>
                                </li>
                                <li>
                                    <a href="/terms-of-use">Terms of use</a>
                                </li>
                                <li>
                                    <a href="/solvency-margin">Financial strength rating and Solvency</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
        <div class="terms">
            <div class="w-c">
                <p>
                    Southern Cross Pet Insurance is underwritten by Southern Cross Pet Insurance Limited. Southern Cross Pet Insurance Limited has an A (Strong) financial strength rating given by Standard & Poor’s (Australia) Pty Limited. The rating scale is: AAA (Extremely Strong), AA (Very Strong), A (Strong), BBB (Good), BB (Marginal), B (Weak), CCC (Very Weak), CC (Extremely Weak), SD or D (Selective Default or Default), R (Regulatory Action), NR (Not Rated). Ratings from ‘AA’ to ‘CCC’ may be modified by the addition of a plus (+) or minus (-) sign to show relative standing within the major rating categories. Full details of the rating scale are available at <a href="http://www.standardandpoors.com" target="_blank">www.standardandpoors.com</a>. Standard & Poor’s is an approved rating agency under the Insurance (Prudential Supervision) Act 2010.
                </p>
                <p style="margin:-30px 0 0;font-size:9px;">
                    v PQ.1.0.3.86 - 06.04.2022
                </p>

            </div>
        </div>
    </footer>
<script src="https://staticcdn.co.nz/embed/embed.js"></script>

