@using PetInsurance_Site.Views.Components;

@{
    ViewBag.Title = "404";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.OGImage = "";
    ViewBag.Canonical = "https://www.southerncrosspet.co.nz/404/";
}

<div class="confirmation-page standard-page-container">
    <div class="w-c">
        <h2>Uh-oh</h2>
        <p>
            Something’s gone horribly wrong.
        </p>
        <div class="rotate-div">
            <div class="pet-animation">
                @{
                    if (MvcApplication.AmpSite)
                    {
                        @Html.Raw(HtmlToAMP.Image("/Content/images/animations/cat1@2x.png", "cat", "pet-anim", "120", "120"))
                    }
                    else
                    {
                        <div class="cat-sprite"></div>
                    }
                }
            </div>
            <a class="btn outline-btn" href="@Url.Action("Index", "Home")">Get me out of here quick</a>
        </div>
    </div>
</div>