<div class="txt-input card-number-input clearfix">
  <input data-role="none" type="text" #inputA placeholder="0000" maxlength="4" inputmode="numeric" pattern="[0-9]*" [tabindex]="tab1" appDigitOnly [value]="valueA">
  <div class="line"></div>
  <input data-role="none" type="text" #inputB placeholder="0000" maxlength="4" inputmode="numeric" pattern="[0-9]*" [tabindex]="tab2" appDigitOnly [value]="valueB">
  <div class="line"></div>
  <input data-role="none" type="text" #inputC placeholder="0000" maxlength="4" inputmode="numeric" pattern="[0-9]*" [tabindex]="tab3" appDigitOnly [value]="valueC">
  <div class="line"></div>
  <input data-role="none" type="text" #inputD placeholder="0000" maxlength="4" inputmode="numeric" pattern="[0-9]*" [tabindex]="tab4" appDigitOnly [value]="valueD">
</div>
