<div class="table">
  <div class="row">
      <div class="cell label">
          {{label}}
      </div>
      <div class="cell input">
        <div class="txt-input  date-of-birth {{error ? 'input-error' : ''}}">
          <input data-role="none" #inputDay type="text" maxlength="2" [tabindex]="tab1" 
          placeholder="DD" appDigitOnly class="day" inputmode="numeric" pattern="[0-9]*" (input)="validate(1)" 
          (focusout)="focusout(1)" 
          (focusin)="focusin('day')" 
          [(ngModel)]="day">

          <input data-role="none" #inputMonth type="text" maxlength="2" [tabindex]="tab2" placeholder="MM" appDigitOnly inputmode="numeric" pattern="[0-9]*"  (input)="validate(2)" 
          (focusout)="focusout(2)" 
          (focusin)="focusin('month')" 
          [(ngModel)]="month">

          <input data-role="none" #inputYear type="text" maxlength="4" [tabindex]="tab3" placeholder="YYYY" appDigitOnly inputmode="numeric" pattern="[0-9]*" 
          (input)="validate(3)" (focusout)="validate(4)" 
          (focusin)="focusin('year')" 
          [(ngModel)]="year">

          <input data-role="none" type="text" class="datepicker-input {{pickerTarget}}"   (dateChange)="onChange($event)">

          <img (click)="clearfield()" *ngIf="clearbutton && value !== ''" src="/quote/Content/images/pet-quote/icon-clear-field.svg" class="icon_clear_field">
        </div>
      </div>
    </div>
    <div class="row error-message {{error ? 'show' : ''}}">
        <div class="cell label"></div>
        <div class="cell">
            {{message}}
        </div>
    </div>
</div>
