<div class="table bank-account-number">
  <div class="row">
    <div class="cell label wide">
        Bank account number
        <div class="paste">You can paste it here from another source</div>
    </div>
    <div class="cell input clearfix">
      <div class="back-number-input {{error? 'input-error':''}}">
        <div class="input-container bank">
          <input data-role="none" type="text" #bank maxlength="2" [(ngModel)]="bankValue" inputmode="numeric" pattern="[0-9]*" (keyup)="onInput($event,1)" appDigitOnly (paste)="onPaste($event)" placeholder="00">
        </div>
        <div class="input-container branch">
          <input data-role="none" type="text" #branch maxlength="4" [(ngModel)]="branchValue" inputmode="numeric" pattern="[0-9]*" (keyup)="onInput($event,2)" appDigitOnly (paste)="onPaste($event)" placeholder="0000">
        </div>
        <div class="input-container account">
          <input data-role="none" type="text" #account maxlength="7" [(ngModel)]="accountValue" inputmode="numeric" pattern="[0-9]*" (keyup)="onInput($event,3)" appDigitOnly (paste)="onPaste($event)" placeholder="0000000">
        </div>
        <div class="input-container suffix">
          <input data-role="none" type="text" #suffix maxlength="2" [(ngModel)]="suffixValue" inputmode="numeric" pattern="[0-9]*" (keyup)="onInput($event,4)" (focusout)="onInput($event,5)" appDigitOnly (paste)="onPaste($event)" placeholder="00">
        </div>
      </div>
    </div>
  </div>
  <div class="row error-message {{error ? 'show' : ''}}">
      <div class="cell label"></div>
      <div class="cell">
          {{errorMessage}}
      </div>
  </div>
</div>
