
<div class="form-item-wrap {{show ? 'expanded' : ''}}">
  <div class="form-item mobile-full-width space-bottom">
    <app-yes-no-radio-buttons
      tab="0"
      #yesNoRadio
      (valueChange)="validate('treatment')"
      label="Has a vet examined or treated your pet in relation to the condition, signs or symptoms?"
      [(ngModel)]="declaration.previousTreament"
    ></app-yes-no-radio-buttons>
  </div>
  <div class="form-item mobile-full-width space-bottom {{declaration.previousTreament? '':'collapsable'}}">
    <div class="table">
      <div class="row">
        <div class="cell label">
          Please provide the name of the vet’s practice
        </div>
        <div class="cell input">
          <app-typeahead-input
          #vetPracticeSelect
          [(ngModel)]="declaration.regularVets"
          [tab]="declaration.previousTreament? '0':'-1'"
          placeholder="Please select..."
          [items]="copy.vetsList"
          (selectChange)="selectVet()"
        ></app-typeahead-input>
        </div>
      </div>
    </div>
  </div>
  <div class="form-item mobile-full-width space-bottom {{declaration.previousTreament? '':'collapsable'}}">
    <div class="table">
      <div class="row">
        <div class="cell label dt-only"></div>
        <div class="cell input checkbox checkbox-input vet-not-listed">
          <app-check-box
              inputId="{{field + 'VetPractiseNotOnList'}}"
              [checked]="declaration.vetNotListed"
              (checkChange)="toggleBoolean({field: 'vetNotListed'}); trackField('vet_not_listed');"
              [tab]="declaration.previousTreament? '0':'-1'"
              [value]="true"
          ></app-check-box>Vet’s practice  isn’t on the list
        </div>
      </div>
    </div>
  </div>
  <div class="form-item mobile-full-width space-bottom {{declaration.previousTreament === false? '':'collapsable'}}">
    <app-datepicker-input
      #dateObserved
      [(ngModel)]="declaration.dateObserved"
      (valueChange)="validate()"
      [startRange]="injuryStartRange"
      (focusInField)="trackInjuryDate($event)"
      [endRange]="injuryEndRange"
      label="What was the date that your pet first displayed the condition, signs or symptoms?"
      labelClass="wide"
      [tab]="declaration.previousTreament? '-1':'0'"
    ></app-datepicker-input>
  </div>

  <div class="form-item mobile-full-width space-bottom vet-name {{declaration.vetNotListed && declaration.previousTreament? '':'collapsable'}}">
    <app-text-input
      label="Type-in the name of the vet’s practice"
      [(ngModel)]="declaration.vetName"
      [clearbutton]="true"
      (inputChange)="validate()"
      (inputFocusin)="trackField('vet_practice_name')"
      classes="capitalise-input"
      [tab]="declaration.vetNotListed && declaration.previousTreament? '0':'-1'"
    ></app-text-input>
  </div>
</div>
