<div class="table {{configCss}} yes-no-radio">
    <div class="row">
        <div class="cell label wide {{isFocus ? 'tab-in' : ''}}">
            {{label}}&nbsp;&nbsp;<app-help-icon class="{{help === undefined ? 'hide' : ''}}" [helpId]="help" offsetY="15"></app-help-icon>
        </div>
        <div class="cell yes-no-yes">
            <app-radio-btn #yesBtn label="Yes" (outChecked)="setYes()" [checked]="value"></app-radio-btn>
        </div>
        <div class="cell yes-no-no">
            <app-radio-btn #noBtn label="No" (outChecked)="setNo()" [checked]="value === false" ></app-radio-btn>
        </div>
        <div class="tab-field">
            <input type="text" #tabInput [tabindex]="tab" (focusin)="tabIn()" (focusout)="tabOut()" (keydown)="keydown($event)" data-role="none" >
        </div>
    </div>
</div>
