

@{
    ViewBag.Title = "Pet Quote Error";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.OGImage = "";
    ViewBag.Canonical = "https://www.southerncrosspet.co.nz/petquote/error/";
}

<div class="confirmation-page white-bg standard-page-container">
    <div class="w-c">
        <h2>Uh-oh</h2>

        <p>
            Something’s gone horribly wrong.
        </p>
        @if (@Context.Request["type"] == "500")
        {
        <div class="error-500">
            <a class="btn outline-btn" href="@Url.Action("Index", "QuoteAndBuy")">
                Refresh this page
                <img src="~/Content/images/pet-quote/icon-refresh.png" srcset="~/Content/images/pet-quote/icon-refresh@2x.png 2x" alt="Refresh this page" />
            </a>
            <p>Or try again in 30 minutes</p>
            <div class="pet-animation rotated">
                <div class="cat-sprite"></div>
            </div>
        </div>
        }
        else
        {
            <div class="rotate-div">
                <div class="pet-animation rotated">
                    <div class="cat-sprite"></div>
                </div>
                <a class="btn outline-btn" href="@Url.Action("Index", "Home")">Get me out of here quick</a>
            </div>
        }
    </div>
</div>