<div class="popup {{show?'show':''}} summary-popup">
  <div class="popup-container">
      <div class="popup-cell">
          <div class="popup-curtain" (click)="cancel()"></div>
          <div class="popup-window {{windowClass}}">
              <img src="/quote/Content/images/pet-quote/close-btn.svg" class="close" alt="Close" (click)="cancel()">
              <h2>
                Are you sure you want to remove this&nbsp;person?
              </h2>
              <p class="sub-heading">
                You can always add an authorised person later.
              </p>
              <div class="btn-wrap">
                <div class="btn white" (click)="cancel()">No, go back</div>
                <div class="btn" (click)="confirm()">Yes, remove</div>
              </div>
              <p>
                Want to <a href="javascript:;" (click)="edit()">change your authorised person</a> to someone else?
              </p>
          </div>
      </div>
  </div>
</div>
