<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<clear/>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<!-- Dev -->
		<add key="PetQnB_ToEmail" value="info@southerncrosspet.co.nz"/>
		<add key="PetQnB_FreeCoverUrl" value="https://freecover.southerncrosspet.co.nz"/>
		<add key="PetQnB_SpcaCoverUrl" value="https://freecover.southerncrosspet.co.nz"/>
		<add key="PetQnB_PuppyCoverUrl" value="https://www.southerncross.co.nz/freecover"/>
		<add key="PetQnB_DirectDebitUrl" value="https://www.southerncross.co.nz/pet/direct-debit-authority"/>
		<add key="PetQnB_SoutherncrossDomain" value="https://www.southerncross.co.nz"/>
		<add key="PetQnB_SendGridApiKey" value="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"/>
		<!-- FreeCover-dev -->
		<add key="PetQnB_ApiKey" value="SawxB5j4iZGumSzyBxHCk8Rm28ePeWHA"/>
		<add key="PetQnB_CertificateThumbprint" value="A8E81FC236D47620460ECAADC472C9B4B738B9B4"/>
		<add key="PetQnB_GetOrgUrl" value="https://api-dev.southerncross.co.nz/pet/v1/getorg"/>
		<add key="PetQnB_SpcaBranchesUrl" value="https://api-dev.southerncross.co.nz/pet/v1/spcabranches"/>
		<add key="PetQnB_FreeCoverReqUrl" value="https://api-dev.southerncross.co.nz/pet/v1/freecoverreq"/>
		<add key="PetQnB_GetbreedsUrl" value="https://api-dev.southerncross.co.nz/pet/v1/getbreeds?speciesid="/>
		<!-- Api Client Configuration -->
		<add key="PetQnB_ApiClientAuthenticationAddress" value="https://identity03.dv.southerncross.co.nz/connect/token"/>
		<add key="PetQnB_ApiClientAuthenticationId" value="SawxB5j4iZGumSzyBxHCk8Rm28ePeWHA"/>
		<add key="PetQnB_ApiClientAuthenticationSecret" value="eMqPB2rP7u4XFceF"/>
		<add key="PetQnB_ApiClientPolicyTimeoutExecution" value="60"/>
		<add key="PetQnB_ApiClientPolicyTimeoutOverall" value="60"/>
		<add key="PetQnB_ApiClientPolicyRetries" value="0"/>
		<add key="PetQnB_ApiBasePath" value="https://bubble03.api-sit.southerncross.co.nz"/>
		<add key="PetQnB_SourceSystem" value="Appian"/>
		<add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="6b5a3123-b235-44f4-92b3-4ffb69d16ba7"/>
		<!-- Microservices configuration -->
		<add key="PetQnB_CustomerLeadServiceUrl" value="" />
		<add key="PetQnB_Ocp-Apim-Subscription-Key" value="" />
		<!-- This needs to be removed once the microservice environment is ready -->
		<add key="PetQnB_CustomerLeadEnabled" value="false" />
		<!-- Recaptcha -->
		<add key="PetQnB_RecaptchaVerifyUrl" value="https://www.google.com/recaptcha/api/siteverify"/>
		<add key="PetQnB_RecaptchaClientToken" value="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"/>
		<add key="PetQnB_RecaptchaClientSecret" value="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"/>
		<add key="PetQnB_RecaptchaRequiredPaths" value="pet_upm/v1/application;pet_upm/v1/email"/>
		<!-- only verifying for captcha for these paths -->
		<add key="PetQnB_AllowedPath" value="pet_upm/v1/breed;pet_upm/v1/referral;pet_upm/v1/paymentfrequency;pet_upm/v1/plans;pet_upm/v1/planoptions;pet_upm/v1/persontitle;pet_upm/v1/vetpractice;qas/v2/addresses;pet_upm/v1/quote;pet_upm/v1/email;pet_upm/v1/application;pet_upm/v1/pxpay;pet_upm/v1/pxpay;pet_upm/v1/paymentmethod"/>
		<add key="PetQnB_IsMaintenance" value="0"/>
		<add key="PetQnB_MaintenanceUrl" value="https://www.southerncrosspet.co.nz/maintenance"/>
		<!-- use to cache http get results -->
		<add key="PetQnB_CachePath" value="pet_upm/v1/breed;pet_upm/v1/referral;pet_upm/v1/paymentfrequency;pet_upm/v1/plans;pet_upm/v1/planoptions;pet_upm/v1/persontitle;pet_upm/v1/vetpractice;pet_upm/v1/paymentmethod"/>
		<add key="PetQnB_CacheInteval" value="24"/>
	</appSettings>
	<!--
    For a des of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<customErrors mode="Off"/>
		<!--<customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/404" />
    </customErrors>-->
		<httpRuntime targetFramework="4.7.2"/>
		<httpModules>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="TelemetryCorrelationHttpModule"/>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
