<div class="check-box {{checked ? 'checked' : ''}} {{large ? 'large' : ''}} {{checkboxTabFocus?'checkbox-focus':''}} {{disabled?'disabled':''}}" (click)="toggleChecked();">
    <div *ngIf="useInput" class="tab-input">
        <input data-role="none" id="{{inputId}}" type="checkbox"  tabindex="{{tab}}" (keydown)="checkboxKeyDown($event)" (focusin)="tabToCheckbox()" (focusout)="tabFromCheckbox()" name="{{fieldname}}">
    </div>
    <img *ngIf="!large"class="off" src="/quote/Content/images/pet-quote/icon-tick.svg" alt="Yes">
    <img *ngIf="!large" class="on" src="/quote/Content/images/pet-quote/icon-tick-checked.svg" alt="No">
    <img *ngIf="large"class="off" src="/quote/Content/images/pet-quote/icon-tick-grey.svg" alt="Yes">
    <img *ngIf="large" class="on" src="/quote/Content/images/pet-quote/icon-tick-grey-checked.svg" alt="No">
</div>
<label *ngIf="text !== ''" class="recommended" for="{{inputId}}">{{text}}</label>
