@import "../../../assets/css/variables.scss";
.about-you{
    padding: 20px 0 50px;
    .about-you-container{
        width:100%;
        max-width:680px;
        position: relative;
        margin:0 auto;
        .about-you-form{
            max-width: 468px;
            position: relative;
            margin:40px auto;
            .intphone-link{
                font-size: 12px;
                margin-top: 5px;
            }
        }
        .extra-discount{
            position: relative;
            max-height: 0px;
            margin: 0 0 10px 0;
            overflow: hidden;
            @include easeQuartOut(500ms);
            &.show{
                max-height: 600px;
                margin: 0 0 50px 0;
            }
            background-color:$offWhite;
            
            .extra-discount-content{
                padding: 35px 106px;
                h3{
                    font-size: 22px;
                    font-weight: 500;
                    color: $cerulean;
                    margin: 0 0 40px
                }
            }
            
        }
    }
   @media all and (max-width:767px){
    padding: 15px 20px 50px;
    .about-you-container{
        .about-you-form{
            margin:15px auto 20px;
        }
        .extra-discount{
            margin: 0 -20px 10px;
            &.show{
                margin: 0 -20px 50px;
            }
            .extra-discount-content{
                padding: 25px 20px;
                h3{
                    margin: 0 0 23px;
                    font-size: 20px;
                }
            }
        }
    }
   }
}