<div #invoiceElement class="invoice">
    <div class="name-price">
        <div class="name">{{invoice.vetSpecialist}}</div>
        <div class="price">${{total}}</div>
    </div>
    <div class="date-edit">
        <div class="date">{{dateTextValue}}</div>
        <div [class]="completed ? 'edit completed' : 'edit'">
            <div [class]="circle ? 'just-added circle ' + (start ? 'start' : '') :  'just-added'">
                <div [class]="tick ? 'tick show' : 'tick'"></div>
                <div [class]="label ? 'label show ' + labelStyle: 'label ' + labelStyle">{{ctaTitle}}</div>
            </div>
            <div [class]="viewEditShow ? 'view-edit show' : 'view-edit'">
                <div class="label" (click)="viewEdit()">View / Edit</div>
                <div [class]="confirmDelete ? 'bin open' : 'bin'" (click)="remove()">
                    <div class="bin-top"></div>
                    <div class="bin-bottom"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div [class]="confirmDelete ? 'confirm-container show' : 'confirm-container'">
    <div class="confirm">
        <div class="label">Are you sure?</div>
        <div class="cancel" (click)="cancel()">No, cancel</div>
        <div class="delete" (click)="deleteInvoice()">Yes, delete</div>
    </div>
</div>
<div #mobileCheck class="mobileCheck"></div>