<section class="claim-section home">
    <h1>How to make a claim in 3 easy&nbsp;steps</h1>
    <div class="list-item">
        <div class="num"><div>1</div></div>
        <div class="details">Enter your details and your pet's name </div>
        <div class="subdetails">(you can only claim for one pet at a time) </div>
    </div>
  
    <div class="list-item">
        <div class="num"><div>2</div></div>
        <div class="details">Add your invoices for treatment</div>
        <div class="subdetails">(you can add up to {{invoiceTotal}} invoices on the same claim) </div>
    </div>
 
    <div class="list-item">
        <div class="num"><div>3</div></div>
        <div class="details">Upload all your documents</div>
        <div class="subdetails">(all your invoices, receipts and any vet records) </div>
    </div>
    <div class="home-cta"><h3>Once you’ve finished, you can check everything's correct and then submit your claim.</h3></div>
    <h2>What kind of cover do you have?</h2>
    <div class="home-cta">
        <div>
            <h3>I have an AcciPet or PetCare policy</h3>
            <div class="button" (click)="start();callToAction('Claim home > Make a claim here')">Make a claim here</div>
        </div>
        <div>
            <h3>I have 6 week’s Free Cover</h3>
            <div class="button" (click)="start(true);callToAction('Claim home > Make a claim here')">Make a claim here</div>
        </div>
    </div>


    <div class="dog-animation">
      <div class="full pet-animation">
        <img class="dog static" srcset="/make-a-claim/Content/images/dog-static.png 1x, /make-a-claim/Content/images/dog-static@2x.png" src="/make-a-claim/Content/images/dog-static.png" alt="dog" />
      </div>
    </div>

    <p class="pad-left">
        <strong>
            You can also download and complete a <a href="{{claimFormUrl}}" target="_blank"  (click)="callToAction('Claim home > pet insurance claim form')">pet insurance claim form</a>
            , or a <a href="{{freeCoverClaimFormUrl}}" target="_blank"  (click)="callToAction('Claim home > pet insurance free cover claim form')">Free&nbsp;Cover&nbsp;claim&nbsp;form</a>.
        </strong>
        <br><br>
        Post your form and supporting documents to:<br><br>


        Southern Cross Pet Insurance<br>
        Private Bag 3240<br>
        Waikato Mail Centre<br>
        Hamilton 3240<br>
        Freepost Authority 240536<br> <br>
        Posted claims may take longer to process once we've received your form.
    </p>
</section>
