<div class="pet-question-select {{ selectClass }} {{ open ? 'open' : ''}}"  (window:click)="close()">
    <div class="label" (click)="toggleOpen($event)"  [innerHTML]="singularise? makeSingular(value.label):value.label  | safe: 'html'"></div>
    <img class="arrow" src="/quote/Content/images/pet-quote/icon-chevron-down-blue.svg" alt="Select Species">
    <ul>
        <li *ngFor="let item of items; let i = index;" attr.data-id="{{ item.id }}" [class]="i === selectedIndex ? 'selected' : ''" (click)="setValue($event,item);" attr.data-index="{{ i }}">
            {{singularise? makeSingular(item.label):item.label}}
        </li>
    </ul>
    <div class="input-field">
        <input data-role="none" id="{{inputId}}" type="text" #field tabindex="{{tab}}" (focusin)="tabIn()"  (focusout)="tabOut()" (keydown)="inputKeyDown($event)" readonly>
    </div>
    <label *ngIf="inputId !== null && quietLabel !== null" class="quiet-label" for="{{inputId}}">{{quietLabel}}</label>

</div>
