<div class="pet-question-typeahead {{ selectClass }} {{ open ? 'open' : ''}} {{ selectOpen ? 'selectOpen' : ''}}"
    (window:click)="close($event)">
    <div class="typeahead-wrap">
        <input #searchinput
            class="typeahead-input"
            type="text"
            (input)="search()"
            (keydown)="inputKeyDown($event)"
            (focusin)="tabIn()"
            (focusout)="tabOut()"
            tabindex="0"
            value="{{value.label}}"
            id="{{inputId}}"
            attr.keypress="{{setInputWidth()}}"
            data-role="none"
        />
        <div #searchInputWidth style="font:500 22px omnes-pro,Arial,sans-serif;position: absolute;opacity: 0;">{{value.label}}</div>
        <img class="typeahead-search-img" (click)="tabIn()" src="/quote/Content/images/pet-quote/icon-search.svg" />
    </div>
    <ul *ngIf="selectOpen">
        <li class="title" *ngIf="showOptionTitle">Top 5 most popular breeds</li>
        <li
            *ngFor="let item of popularOptions; let i = index;"
            attr.data-id="{{ item.id }}"
            [class]="i === selectedIndex ? 'selected' : ''"
            (click)="setValue($event,item);"
            attr.data-index="{{ i }}"
        >{{item.label}}</li>
        <li class="title" *ngIf="showOptionTitle">All breeds alphabetically</li>
        <li
            *ngFor="let item of result; let i = index;"
            attr.data-id="{{ item.id }}"
            [class]="i === selectedIndex ? 'selected' : ''"
            (click)="setValue($event,item);"
            attr.data-index="{{ i }}"
        >{{item.label}}</li>
    </ul>
</div>
