<div #shoppingCart  [class]="displayCart ? (started ? (show ? 'shopping-cart show' : (scrollFixed ? 'shopping-cart fixed' : 'shopping-cart')) : 'shopping-cart hide') : 'shopping-cart hide'">
    <div [class]="hideBg ? 'bg fade-bg' : 'bg'"></div>
    <div [class]="tranIn ? 'cart-panel tran-in' : 'cart-panel'">
        <div [class]="cartEnabled ? 'hide-claims' : 'hide-claims disabled'" (click)="showHideCart()">
            {{toggleText}}
            <span></span>
        </div>
        <div class="title {{totalItems > 0 ? 'no-border' : ''}}">
            Claim Summary <span>{{totalItems}}</span>
            <div [innerHTML]="petName"></div>
        </div>
        <div #invoicesList class="invoices">
            <app-cart-item 
            *ngFor="let invoice of invoices;index as i;" 
            [invoice]="invoice"
            [index]="i"
            (viewInvoice)="viewInvoice($event)"
            (removeInvoice)="removeInvoice($event)"
            (invoiceAdded)="invoiceAdded($event)"
            ></app-cart-item>

        </div>
        <div class="cart-base">
            <div class="total">
                <div class="label">
                    Total 
                </div>
                <div class="value">
                    ${{cartTotal}}
                </div>
            </div>
            <div class="what-next" *ngIf="invoices.length < invoiceTotal && freeCoverTotalOver">Maximum claim amount reached</div>
            <div class="what-next" *ngIf="invoices.length < invoiceTotal && !freeCoverTotalOver">What do you want to do next?</div>
            <div class="what-next" *ngIf="invoices.length === invoiceTotal && !freeCoverTotalOver">
                Maximum reached for this claim
                <app-help-icon [copy]="invoiceTotalTipCopy" helpId="invoiceTotalTip"></app-help-icon>
            </div>
            <div class="what-next small-padding" *ngIf="invoices.length === invoiceTotal && freeCoverTotalOver">
                Maximum claim amount reached<br>
                Maximum reached for this claim
                <app-help-icon [copy]="invoiceTotalTipCopy" helpId="invoiceTotalTip"></app-help-icon>
            </div>
            <div class="buttons clearfix">
                <div class="button add small-text {{invoiceTotal === invoices.length ? 'disabled' : ''}}"  (click)="addAnother()">
                    <span class="plus"></span>
                    Add more invoices to this claim
                </div>
                <div [class]="complete ? 'button next small-text' : 'button next small-text disabled'"  (click)="next()">
                    Next step, upload documents
                    <span class="chevron-next"></span>
                </div>
            </div>
        </div>

    </div>
    <div #mobileCheck class="mobileCheck"></div>
</div>
