<section #directDebitSection class="direct-debit">
    <h2>Paperless direct debit</h2>
    <div class=" relative-695">
        <p class="subheading">Please fill in your details below to pay your Southern Cross Pet Insurance premium by direct debit. All fields are required.</p>

        <div class="form">
            <h4>Policy Details</h4>
            <div class="policy-details">
                <div class="form-item">
                    <app-text-input
                        [classes]="'policy-number'"
                        label="Policy Number"
                        [(ngModel)]="petInsuranceNumber"
                        tab="0"
                        [clearbutton]="true"
                        type="tel"
                        [placeholder]="'Enter your Policy Number here&hellip;'">
                    </app-text-input>
                </div>
                <div class="form-item">
                    <app-text-input
                        label="Name of Policy Holder"
                        [required]="true"
                        errorMessage="Please enter your full name"
                        [(ngModel)]="fullName"
                        tab="1"
                        [inputId]="'fullName'"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>
                
                <div class="form-item">
                    <app-text-input
                        label="Daytime telephone number"
                        [(ngModel)]="phone"
                        tab="3"
                        type="tel"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>

                
                <div class="form-item">
                    <app-text-input
                        label="Email Address"
                        [required]="true"
                        validateType="email"
                        errorMessage="Please enter your email"
                        [(ngModel)]="email"
                        tab="2"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>
            </div>
            <h4>Bank Account Details</h4>

            <div class="bank-account-details">
                <div class="form-item">
                    <app-text-input
                        label="Name of Bank Account Holder"
                        [required]="true"
                        errorMessage="Please enter name of bank account holder"
                        [(ngModel)]="bankAccountHolder"
                        tab="1"
                        [inputId]="'bankAccountHolder'"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>
                <div class="form-item">
                    <app-bank-account 
                        [(ngModel)]="bankAccountNumber" 
             
                    ></app-bank-account>
                </div>
                <div class="form-item">
                    <app-text-input
                        label="Name of Bank"
                        [required]="true"
                        errorMessage="Please enter name of bank"
                        [(ngModel)]="nameOfBank"
                        tab="1"
                        [inputId]="'nameOfBank'"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>
                <div class="form-item">
                    <app-text-input
                        label="Name of Branch"
                        [required]="true"
                        errorMessage="Please enter name of bank branch"
                        [(ngModel)]="nameOfBranch"
                        tab="1"
                        [inputId]="'nameOfBranch'"
                        [clearbutton]="true"
                        >
                    </app-text-input>
                </div>
                <div class="form-item">
                <app-text-input 
                    #addressSearch
                    label="Bank address"
                    class="address-search"
                    placeholder="Just start typing&hellip;"
                    tab="0"
                    [clearbutton]="true"
                ></app-text-input>
                </div>
            </div>

            <h4>About Your Payment</h4>
            <div class=" about-your-payment">
                <div class="form-item">
                    <div class="info">
                        <div class="heading">When will we apply the changes?</div>
                        <div class="content">
                            We will apply the changes to your direct debit from the next available due date, if this is less than 5 
                            working days it may defer to the next due date. If your premium is currently overdue, we will provide 
                            you with written notice with the amount and date prior to deducting any payments.
                        </div>
                    </div>
                </div>
                
                <div class="form-item">
                    
                    <app-select-box 
                    label="How often would you like us to collect your payments?"
                    [required]="true"
                    errorMessage="Please enter collection frequency"
                    [items]="frequencyItems" 
                    tab="0" 
                    [(ngModel)]="frequency" 

                    size="small"
                    ></app-select-box>
                </div>
                <div class="form-item">
                <app-yes-no-radio-buttons 
                    class="wide-label"
                    [(ngModel)]="applyChangesToOtherPets" 
                    tab="0" 
                    label="If you have other pets insured with us, do you want this change to apply to all of the other pets?"

                    ></app-yes-no-radio-buttons>
                </div>
            </div>
            <h4>AUTHORISATION CODE: 1212086</h4>
            <div class="authorisation-code">
                <div class="form-item">
                    <app-notice
                    [content]="'I authorise you until further notice in writing to debit my account with you all amounts which SOUTHERN CROSS BENEFITS LIMITED (hereinafter referred to as the initiator) the registered Initiator of the above Authorisation Code may initiate by Direct Debit.'"
                    ></app-notice>
                </div>
                <div class="form-item">
                    <app-check-description-box 
                        [description]="'I have read and accept the Conditions of the authority to accept direct debits below'" 
                        [(ngModel)]="readAndAccepted" 
               
                    ></app-check-description-box>
                </div>
                <div class="form-item">
                    <app-check-description-box 
                        [description]="'I acknowledge and authorise my bank to accept these instructions only upon the conditions found in the Conditions of the authority to accept direct debits below'" 
                        [(ngModel)]="acceptedAuthorityToDirectDebit" 
                 
                    ></app-check-description-box>
                </div>
                <div class="form-item">
                    <app-check-description-box 
                        [description]="'I confirm I have sole authority over the bank account nominated above'" 
                        [(ngModel)]="soleAuthority" 
                
                    ></app-check-description-box>
                </div>
            </div>
            <h4> * Conditions of the authority to accept direct debits</h4>
            <div class="terms">
                <ol>
                    <li>The Initiator:
                        <ol>
                            <li>Undertakes to give written notice to me/us of the commencement date, frequency and amount of the Direct Debit at least 10 calendar days (but no more than 2 calendar months) before the first Direct Debit is drawn. Where the Direct Debit System is used for the collection of payments which are regular as to frequency, but variable as to amounts, the Initiator undertakes to provide me/us with a schedule detailing each payment amount and each payment date. In the event of any subsequent change to the frequency or amount of the Direct Debit, the Initiator has agreed to give written notice at least 30 days before that change comes into effect.</li>
                            <li>May, upon the relationship which gave rise to this Authority being terminated, give notice to the bank that no further Direct Debits are to be initiated under this Authority. Upon receipt of such notice, the Bank may terminate this Authority as to future payments by notice in writing to me/us.</li>
                            <li>May rely on this authority to debit a different bank account upon receipt of instructions from me/us via bank to which my/our account has been transferred.</li>
                        </ol>
                    </li>
                    <li>The Customer may:
                        <ol>
                            <li>At any time, terminate this authority as to future payment by giving written notice of termination to both the Bank and the Initiator.</li>
                            <li>Stop payment of any Direct Debit to be initiated under this authority by the Initiator by giving written notice to the Bank prior to the Direct Debit being paid by the Bank.</li>
                            <li>Where a variation to the amount agreed between the Initiator and the Customer from time to time to be direct debited has been made without notice being given in terms of clause 1 (a) above, request the Bank to reverse or alter any such Direct Debit initiated by the Initiator by debiting the amount of the reversal or alteration of a Direct Debit back to the Initiator through the Initiator’s Bank, PROVIDED such a request is made not more than 120 days from the date when the Direct Debit was debited to his/her account.</li>
                        </ol>
                    </li>
                    <li>The Customer acknowledges that:
                        <ol>
                            <li>This Authority will remain in full force and effect in respect of all Direct Debits passed to my/our accounts in good faith, notwithstanding my/our death, bankruptcy or other revocation of this Authority until actual notice of such event is received by the Bank.</li>
                            <li>In any event this Authority is subject to any arrangement now or hereafter existing between me/us and the Bank in relation to my/our account.</li>
                            <li>Any dispute as to the correctness or validity of any amount debited to my/our account shall not be the concern of the Bank except in so far as the Direct Debit has not been paid in accordance with this Authority. Any other disputes lie between me/us and the Initiator.</li>
                            <li>The Bank accepts no responsibility or liability for the accuracy of the information about Direct Debits on Bank Statements.</li>
                            <li>The Bank is not responsible for, or under any liability in respect of: – any variations between notices given by the Initiator and the amounts of the Direct Debits on Bank Statements. – the Initiator’s failure to give written advance notice correctly, nor for the non receipt or late receipt of notice by me/us for any reason whatsoever. In any such situation the dispute lies between me/us and the Initiator.</li>
                            <li>Notice given by the Initiator in terms of clause 1(a) to the debtor responsible for the payment shall be effective. Any communication necessary because of the debtor responsible for payment is a person other than me/us, is a matter between me/us and the debtor concerned.</li>
                        </ol>
                    </li>
                    <li>The Bank may:
                        <ol>
                            <li>In its absolute discretion conclusively determine the order of priority of payment by it of any monies pursuant to this or any other authority, cheque or draft properly executed by me/us and given to or drawn on the Bank.</li>
                            <li>At any time terminate this authority as to future payments by notice in writing to me/us.</li>
                            <li>Charge its current fees for the service in force from time to time.</li>
                            <li>Upon receipt of an "authority to transfer from" signed by me/us from a bank to which my/our account has been 
                                transferred, transfer to that bank this authority to accept Direct Debits.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>

    <app-next-back 
        nextLabel="Submit" 
        [enabledNext]="complete" 
        [showBack]="false"
    ></app-next-back>
</section>
