@import "variables";

.browser-error {
    background-color: #f7f7f7;
    padding: 100px 0;

    .content {
        position: relative;
        top: 0px;
        max-width: 780px;
        margin: auto;


        h1 {
            text-align: center;
            color: $blue;
        }

        p {
            text-align: center;
            position: relative;
            max-width: 450px;
            margin: 10px auto 30px;

            &.bottom {
                max-width: 100%;
                margin: 40px 0 0;
                font-size: 14px;
            }
        }

        .boxes {
            .box {
                max-width: 360px;
                width: 100%;
                height: 317px;
                border-radius: 3px;
                border: solid 1px #eeeeee;
                background-color: #ffffff;
                padding: 29px 38px;

                &.margin-center {
                    position: relative;
                    margin: auto;
                }

                &.auto-height {
                    height: auto;
                }

                &.browser {
                    float: left;
                }

                &.os {
                    float: right;
                }

                .type {
                    font-size: 14px;
                    color: #8e8e8e;
                }


                .icon {
                    width: 42px;
                    height: 42px;
                    margin: 10px auto;
                }

                .name {
                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    color: $grey;
                    margin: 10px 0 0;
                }

                .version {
                    font-size: 14px;
                    text-align: center;
                    margin: 0 0 4px;
                }

                .support {
                    text-align: center;
                    color: #d92e43;
                    font-size: 14px;
                    font-weight: 500;

                    &.yes {
                        color: $green;
                    }
                }

                p {
                    font-size: 14px;
                    color: $grey;
                }
                .btn {
                    max-width: 100%;
                    background: $blue;
                    border: 1px solid $blue;
                    border-radius: 4px;
                    width: 100%;
                }

                .btn-wrap {
                    margin: auto;
                    align-items: center;
                    width: 100%;
                }

                .btn-specific {
                    font-weight: 500;
                    margin: auto;

                    img {
                        margin-right: 7px;
                    }
                }

                .browser-icons {
                    display: block;
                    margin: auto;
                    height: 35px;
                    line-height: 1;

                    &:after {
                        clear: both;
                        content: "";
                        display: block;
                    }

                    a {
                        color: #3093cc;
                        white-space: nowrap;

                        img {
                            float: left;
                        }

                        span {
                            float: left;
                            margin: 10px 0 0 8px;
                            font-size: 14px;
                        }
                    }

                    &.one {
                        width: 90px;
                    }

                    &.two {
                        width: 230px;

                        .ml {
                            margin-left: 40px;
                        }
                    }

                    &.three {

                        .ml {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width:990px) {
        .content {
            padding: 0 20px;

            .boxes {


                .box {
                    position: relative;
                    margin: auto;

                    &.browser {
                        float: none;
                    }

                    &.os {
                        float: none;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
