@import "variables.scss";

// These styles are critical to display and will be loaded in the header. 
// If they are not critial they should be loaded at the bottom of the body.

body {
    margin: 0;
    background: #FFFFFF;
    color: #525252;
    font-family: "omnes-pro", Arial, serif;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    position: relative;
    z-index: 20;
}
* {
    box-sizing: border-box;
    outline: none;
}

.test {
    color: orange;
}

.clearfix {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}
.container {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1160px;
    margin: 0 auto;
}
h1 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 27px;
    color: #007db9;
    line-height: 1.14;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;

}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.31;

    strong {
        font-weight: 500;
    }

    &.center {
        text-align: center;
    }

    a {
        color: #0a82bb;
    }

    &.pad-left {
        padding-left: 52px;
    }
}
ul {
    li {
        &::marker {
            color: #f8b60d;
        }
    }
}

.button {
    display: block;
    height: 42px;
    padding: 6px 30px;
    border-radius: 4px;
    border: solid 1px #f8b60d;
    background-color: #f8b60d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: "omnes-pro", Arial, serif;

    &.claim-form {
        max-width: 335px;
    }

    .download {
        background: url(/make-a-claim/Content/images/icon-download-gold.svg) no-repeat center center;
        display: inline-block;
        width: 12px;
        height: 15px;
        margin-left: 5px;
        position: relative;
        top: 2px;
    }

    &.outline {
        background: #FFFFFF;
        color: #f8b60d;
    }
}

.list-item {
    display: table;
    margin: 0 0 15px 0!important;
    padding: 4px 145px 7px;

    > div {
        display: table-cell;
        vertical-align: top;

        &.num {
            width: 32px;

            > div {
                background: #007db9;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                color: #FFFFFF;
                text-align: center;
                line-height: 1;
                padding-top: 2px;
                font-size: 24px;
                font-weight: 600;
            }
        }

        &.details {
            padding-left: 20px;
            font-size: 18px;
            line-height: 1.28;
            color: #525252;
            letter-spacing: -0.2px;
            font-weight: 500;
            margin: 0 0 4px 0;
            display: inline-block;

            strong {
                font-weight: 500;
            }
        }

        &.subdetails {
            display: block;
            padding-left: 20px;
            font-size: 16px;
            line-height: 1.25;
            color: #525252;
            margin: 4px 0 0 0;
            width: 400px;
        }
    }
}

@media all and (max-width:650px) {
    .list-item {
        display: table;
        margin: 8px 16px 7px 0;
        padding: 4px 0px 7px;

        > div {
            display: table-cell;
            vertical-align: top;

            &.num {
                width: 32px;

                > div {
                    background: #007db9;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 1;
                    padding-top: 2px;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            &.details {
                padding-left: 20px;
                font-size: 18px;
                line-height: 1.28;
                color: #525252;
                letter-spacing: -0.2px;
                font-weight: 500;
                margin: 0 0 4px 0;
                display: inline-block;

                strong {
                    font-weight: 500;
                }
            }

            &.subdetails {
                display: block;
                padding-left: 20px;
                font-size: 16px;
                line-height: 1.25;
                color: #525252;
                margin: 4px 0 0 0;
                width: 100%;
            }
        }
    }
}
.w-c {
    position: relative;
    width: calc(100% - 100px);
    max-width: $maxWidth;
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 172px;
    z-index: 1004;

    #fixed-menu-bar-spacer {
        position: relative;
        width: 100%;
        height: 44px;
        display: none;
    }

    .top-bar {
        position: relative;
        width: 100%;
        height: 86px;
        padding: 15px 0px 0px 0px;
        z-index: 501;
        background-color: $white;

        .w-c {
            height: 50px;
        }

        .sc-pet-logo {
            float: left;
            display: block;
            background: url("/make-a-claim/Content/images/logo.svg");
            margin-top: 6px;
            width: 176px;
            height: 44px;
            background-size: cover;
        }

        .sponsor {
            position: absolute;
            right: 0px;
            bottom: 10px;
            width: 112px;
            height: 24px;
            background: url("/make-a-claim/Content/images/spca@2x.png") no-repeat center;
            background-size: 112px 24px;
        }
    }

    .menu-bar {
        width: 100%;
        height: 44px;
        background-color: $blue;
        padding: 8px 0px 0px 0px;
        position: relative;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1500;

        .navbar-toggle {
            display: none;
            position: relative;
            float: left;
            width: 100%;
            height: 40px;
            margin-right: 0;
            padding: 9px 10px 9px 0;
            margin-top: -2px;
            background-image: none;
            // border: 1px solid transparent;
            border-radius: 0;
            border: 0;
            background-color: $blue;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }

        ul {
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                padding: 0;
                margin: 0;
                opacity: 0.75;
                margin-right: 30px;

                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: $white;
                }

                &.clear {
                    float: none;
                    display: block;
                    clear: both;
                }

                &.selected {
                    padding-bottom: 11px;
                    opacity: 1;
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }

    .mobile-footer {
        position: relative;
        display: none;
    }
}

.header-spacer {
    position: relative;
    height: 130px;
    display: none;
}

footer {
    position: relative;

    .w-c {
        width: calc(100% - 90px);
        max-width: 1110px;
    }

    #wr {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 42px;
        height: 42px;
        background: url("/make-a-claim/Content/images/wr.png") no-repeat center;
        background-size: 42px 42px;
        cursor: pointer;
    }

    .footer-menu {
        position: relative;
        padding: 35px 0 55px 0;
        background-color: #525252;

        .menu-col {
            float: left;
            width: 17%;
            margin-right: 2%;

            .menu-heading {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 5px;
                color: $white;
            }


            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: $white;
                        opacity: 0.5;
                        border-bottom: 1px solid rgba(255,255,255,0);
                    }
                }
            }
        }
    }

    .footer-bar {
        position: relative;
        width: 100%;
        background: $blue repeat-y center;
        background-size: 100% 120px;

        ul {
            padding: 10px 0;
            margin: 0;
            list-style: none;

            li {
                float: left;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                margin-right: 24px;
                color: $white;

                a {
                    color: $white;
                    border-bottom: 1px solid rgba(255,255,255,0);
                }

                &.show-mobile {
                    .close-hitbox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        z-index: 100;
                    }
                }
            }
        }
    }

    .c-bar {
        position: relative;
        width: 100%;
        background-color: #edeced;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        color: #4a4a4a;
        padding: 10px 0;

        .right {
            float: right;


            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    float: left;
                    margin-left: 20px;

                    a {
                        color: #4a4a4a;
                        border-bottom: 1px solid rgba(74,74,74,0);
                    }
                }
            }
        }
    }

    .terms {
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42;
            color: #4a4a4a;
            margin: 0;
            padding: 13px 0 23px 0;

            a {
                color: $blue;
                border-bottom: 1px solid rgba(48,147,204,0);
            }
        }
    }
}


.help-container {
    position: relative;
    background-color: $lightGrey;
    padding-bottom: 45px;

    .title-container {
        h2 {
            font-size: 24px;
            color: $blue;
            padding: 42px 0px 39px 0px;
            font-weight: 600;
            line-height: 1.16;
            text-align: center;
            margin: 0 auto;
        }
    }

    .w-3 {
        width: calc(100% + 40px);
        margin-left: -20px;

        .col {
            float: left;
            width: calc(33.33% - 20px);
            margin: 0 10px;
            height: 134px;
            padding: 33px;
            background-color: $white;
            border: 1px solid #eeeeee;

            .icon {
                float: left;
                width: 52px;
                height: 52px;
                margin-top: 5px;
                margin-right: 21px;
                background-size: 52px 52px;
                display: block;
            }

            .copy {
                float: left;
                width: calc(100% - 73px);

                .title {
                    text-transform: uppercase;
                    color: $blue;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    margin-top: -2px;
                    display: block;
                }

                .p, p {
                    font-size: 14px;
                    font-weight: 400;
                    color: $grey;
                    text-align: left;
                    margin: 3px 0;
                    display: block;
                }
            }
        }


        .col[data-index='0'] {
            .icon {
                background-image: url("/make-a-claim/Content/images/chat-icon@2x.png");
            }
        }

        .col[data-index='1'] {
            .icon {
                background-image: url("/make-a-claim/Content/images/message-icon@2x.png");
            }
        }

        .col[data-index='2'] {
            .icon {
                background-image: url("/make-a-claim/Content/images/phone-icon@2x.png");
            }
        }
    }
}
.banner {
    min-height: 265px;
    /*background: url("/make-a-claim/Content/images/hero.jpg") no-repeat center -20px;*/
    background: url("/make-a-claim/Content/images/hero.jpg") no-repeat center -20px;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 2) {
        background: url("/make-a-claim/Content/images/hero@2x.jpg") no-repeat center -20px;
        background-size: cover;
    }

    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;

    .copy {
        position: relative;
        z-index: 2;
        padding: 61px 0 0;
        color: $white;

        h1 {
            font-weight: 600;
            font-size: 38px;
            line-height: 1;
            color: #fff;
            margin: 0 0 13px 0;
            letter-spacing: -0.2px;
            text-align: left;
        }

        p {
            margin: 0 0 25px 0;
            font-weight: 500;
        }

        .button {
            width: 220px;
        }
    }


    .header-svg-curve {
        position: absolute;
        bottom: -2px;
        left: 0px;
        z-index: 5;
        width: 100%;
        height: 31px;
    }
}
.home {
    .make-claim {
        margin: 40px auto 35px;
        max-width: 295px;
        position: relative;
    }

    .dog-animation {
        position: relative;
        margin: 55px auto 40px;
        width: 86px;
    }

    .claim-form {
        margin: 35px auto 50px;
        position: relative;
        max-width: 295px;
    }
}
.shopping-cart {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 5000;
    left: 0px;
    min-height: 0;
    overflow: hidden;

    &.hide {
        display: none;
    }

    @media all and (max-width:650px) {
        top: -83px;
    }
}
.show-cart {
    .shopping-cart {
        @media all and (max-width:650px) {
            top:0;
        }
    }
}
.mobileCheck {
    display: none;
}

.claim-section {
    position: relative;
    max-width: 650px;
    margin: auto;
    padding: 30px 0;
}

.pet-animation {
    position: relative;
    width: auto;
    height: auto;
    right: 0;
    bottom: -15px;

    .dog {
        background-image: url("/make-a-claim/Content/images/animations/dog-sprites@2x.png");
        position: relative;
        margin-top: -20px;
        margin-left: 0px;
        width: 86px;
        height: 111px;
        background-position: 0px 0px;
        background-size: 10406px 444px;
        background-repeat: no-repeat;
        top: -10px;


        @media all and (min-width: 769px) {
            background-image: url("/make-a-claim/Content/images/animations/dog-sprites@2x.png");
            top: -24px;
            left: 3px;
        }

        &.static {
            background-image: unset;
        }
    }
}