body {
  margin: 0;
  background: #FFFFFF;
  color: #525252;
  font-family: "omnes-pro", Arial, serif;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 20;
}

* {
  box-sizing: border-box;
  outline: none;
}

.test {
  color: orange;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.container {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1160px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 27px;
  color: #007db9;
  line-height: 1.14;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.31;
}
p strong {
  font-weight: 500;
}
p.center {
  text-align: center;
}
p a {
  color: #0a82bb;
}
p.pad-left {
  padding-left: 52px;
}

ul li::marker {
  color: #f8b60d;
}

.button {
  display: block;
  height: 42px;
  padding: 6px 30px;
  border-radius: 4px;
  border: solid 1px #f8b60d;
  background-color: #f8b60d;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "omnes-pro", Arial, serif;
}
.button.claim-form {
  max-width: 335px;
}
.button .download {
  background: url(/make-a-claim/Content/images/icon-download-gold.svg) no-repeat center center;
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.button.outline {
  background: #FFFFFF;
  color: #f8b60d;
}

.list-item {
  display: table;
  margin: 0 0 15px 0 !important;
  padding: 4px 145px 7px;
}
.list-item > div {
  display: table-cell;
  vertical-align: top;
}
.list-item > div.num {
  width: 32px;
}
.list-item > div.num > div {
  background: #007db9;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 1;
  padding-top: 2px;
  font-size: 24px;
  font-weight: 600;
}
.list-item > div.details {
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.28;
  color: #525252;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin: 0 0 4px 0;
  display: inline-block;
}
.list-item > div.details strong {
  font-weight: 500;
}
.list-item > div.subdetails {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: #525252;
  margin: 4px 0 0 0;
  width: 400px;
}

@media all and (max-width: 650px) {
  .list-item {
    display: table;
    margin: 8px 16px 7px 0;
    padding: 4px 0px 7px;
  }
  .list-item > div {
    display: table-cell;
    vertical-align: top;
  }
  .list-item > div.num {
    width: 32px;
  }
  .list-item > div.num > div {
    background: #007db9;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
    padding-top: 2px;
    font-size: 24px;
    font-weight: 600;
  }
  .list-item > div.details {
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.28;
    color: #525252;
    letter-spacing: -0.2px;
    font-weight: 500;
    margin: 0 0 4px 0;
    display: inline-block;
  }
  .list-item > div.details strong {
    font-weight: 500;
  }
  .list-item > div.subdetails {
    display: block;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.25;
    color: #525252;
    margin: 4px 0 0 0;
    width: 100%;
  }
}
.w-c {
  position: relative;
  width: calc(100% - 100px);
  max-width: 1100px;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 172px;
  z-index: 1004;
}
header #fixed-menu-bar-spacer {
  position: relative;
  width: 100%;
  height: 44px;
  display: none;
}
header .top-bar {
  position: relative;
  width: 100%;
  height: 86px;
  padding: 15px 0px 0px 0px;
  z-index: 501;
  background-color: #ffffff;
}
header .top-bar .w-c {
  height: 50px;
}
header .top-bar .sc-pet-logo {
  float: left;
  display: block;
  background: url("/make-a-claim/Content/images/logo.svg");
  margin-top: 6px;
  width: 176px;
  height: 44px;
  background-size: cover;
}
header .top-bar .sponsor {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 112px;
  height: 24px;
  background: url("/make-a-claim/Content/images/spca@2x.png") no-repeat center;
  background-size: 112px 24px;
}
header .menu-bar {
  width: 100%;
  height: 44px;
  background-color: #008BCE;
  padding: 8px 0px 0px 0px;
  position: relative;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1500;
}
header .menu-bar .navbar-toggle {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
  margin-right: 0;
  padding: 9px 10px 9px 0;
  margin-top: -2px;
  background-image: none;
  border-radius: 0;
  border: 0;
  background-color: #008BCE;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
header .menu-bar ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .menu-bar ul li {
  float: left;
  padding: 0;
  margin: 0;
  opacity: 0.75;
  margin-right: 30px;
}
header .menu-bar ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
header .menu-bar ul li.clear {
  float: none;
  display: block;
  clear: both;
}
header .menu-bar ul li.selected {
  padding-bottom: 11px;
  opacity: 1;
  border-bottom: 2px solid #ffffff;
}
header .mobile-footer {
  position: relative;
  display: none;
}

.header-spacer {
  position: relative;
  height: 130px;
  display: none;
}

footer {
  position: relative;
}
footer .w-c {
  width: calc(100% - 90px);
  max-width: 1110px;
}
footer #wr {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 42px;
  height: 42px;
  background: url("/make-a-claim/Content/images/wr.png") no-repeat center;
  background-size: 42px 42px;
  cursor: pointer;
}
footer .footer-menu {
  position: relative;
  padding: 35px 0 55px 0;
  background-color: #525252;
}
footer .footer-menu .menu-col {
  float: left;
  width: 17%;
  margin-right: 2%;
}
footer .footer-menu .menu-col .menu-heading {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #ffffff;
}
footer .footer-menu .menu-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-menu .menu-col ul li {
  margin: 0;
  padding: 0;
}
footer .footer-menu .menu-col ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  opacity: 0.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
footer .footer-bar {
  position: relative;
  width: 100%;
  background: #008BCE repeat-y center;
  background-size: 100% 120px;
}
footer .footer-bar ul {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
footer .footer-bar ul li {
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-right: 24px;
  color: #ffffff;
}
footer .footer-bar ul li a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
footer .footer-bar ul li.show-mobile .close-hitbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}
footer .c-bar {
  position: relative;
  width: 100%;
  background-color: #edeced;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #4a4a4a;
  padding: 10px 0;
}
footer .c-bar .right {
  float: right;
}
footer .c-bar .right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .c-bar .right ul li {
  float: left;
  margin-left: 20px;
}
footer .c-bar .right ul li a {
  color: #4a4a4a;
  border-bottom: 1px solid rgba(74, 74, 74, 0);
}
footer .terms p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  color: #4a4a4a;
  margin: 0;
  padding: 13px 0 23px 0;
}
footer .terms p a {
  color: #008BCE;
  border-bottom: 1px solid rgba(48, 147, 204, 0);
}

.help-container {
  position: relative;
  background-color: #f7f7f7;
  padding-bottom: 45px;
}
.help-container .title-container h2 {
  font-size: 24px;
  color: #008BCE;
  padding: 42px 0px 39px 0px;
  font-weight: 600;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
}
.help-container .w-3 {
  width: calc(100% + 40px);
  margin-left: -20px;
}
.help-container .w-3 .col {
  float: left;
  width: calc(33.33% - 20px);
  margin: 0 10px;
  height: 134px;
  padding: 33px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.help-container .w-3 .col .icon {
  float: left;
  width: 52px;
  height: 52px;
  margin-top: 5px;
  margin-right: 21px;
  background-size: 52px 52px;
  display: block;
}
.help-container .w-3 .col .copy {
  float: left;
  width: calc(100% - 73px);
}
.help-container .w-3 .col .copy .title {
  text-transform: uppercase;
  color: #008BCE;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin-top: -2px;
  display: block;
}
.help-container .w-3 .col .copy .p, .help-container .w-3 .col .copy p {
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  text-align: left;
  margin: 3px 0;
  display: block;
}
.help-container .w-3 .col[data-index="0"] .icon {
  background-image: url("/make-a-claim/Content/images/chat-icon@2x.png");
}
.help-container .w-3 .col[data-index="1"] .icon {
  background-image: url("/make-a-claim/Content/images/message-icon@2x.png");
}
.help-container .w-3 .col[data-index="2"] .icon {
  background-image: url("/make-a-claim/Content/images/phone-icon@2x.png");
}

.banner {
  min-height: 265px;
  /*background: url("/make-a-claim/Content/images/hero.jpg") no-repeat center -20px;*/
  background: url("/make-a-claim/Content/images/hero.jpg") no-repeat center -20px;
  background-size: cover;
  padding: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    background: url("/make-a-claim/Content/images/hero@2x.jpg") no-repeat center -20px;
    background-size: cover;
  }
}
.banner .copy {
  position: relative;
  z-index: 2;
  padding: 61px 0 0;
  color: #ffffff;
}
.banner .copy h1 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1;
  color: #fff;
  margin: 0 0 13px 0;
  letter-spacing: -0.2px;
  text-align: left;
}
.banner .copy p {
  margin: 0 0 25px 0;
  font-weight: 500;
}
.banner .copy .button {
  width: 220px;
}
.banner .header-svg-curve {
  position: absolute;
  bottom: -2px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 31px;
}

.home .make-claim {
  margin: 40px auto 35px;
  max-width: 295px;
  position: relative;
}
.home .dog-animation {
  position: relative;
  margin: 55px auto 40px;
  width: 86px;
}
.home .claim-form {
  margin: 35px auto 50px;
  position: relative;
  max-width: 295px;
}

.shopping-cart {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 5000;
  left: 0px;
  min-height: 0;
  overflow: hidden;
}
.shopping-cart.hide {
  display: none;
}
@media all and (max-width: 650px) {
  .shopping-cart {
    top: -83px;
  }
}

@media all and (max-width: 650px) {
  .show-cart .shopping-cart {
    top: 0;
  }
}

.mobileCheck {
  display: none;
}

.claim-section {
  position: relative;
  max-width: 650px;
  margin: auto;
  padding: 30px 0;
}

.pet-animation {
  position: relative;
  width: auto;
  height: auto;
  right: 0;
  bottom: -15px;
}
.pet-animation .dog {
  background-image: url("/make-a-claim/Content/images/animations/dog-sprites@2x.png");
  position: relative;
  margin-top: -20px;
  margin-left: 0px;
  width: 86px;
  height: 111px;
  background-position: 0px 0px;
  background-size: 10406px 444px;
  background-repeat: no-repeat;
  top: -10px;
}
@media all and (min-width: 769px) {
  .pet-animation .dog {
    background-image: url("/make-a-claim/Content/images/animations/dog-sprites@2x.png");
    top: -24px;
    left: 3px;
  }
}
.pet-animation .dog.static {
  background-image: unset;
}
