.error-message-box {
    border-radius: 4px;
    border: solid 1px #eeeeee;
    position: relative;
    min-height: 105px;
    max-width: 930px;
    width: 100%;
    overflow: hidden;
    border-left: 4px solid #007db9;
    margin: 0 auto 60px;
    display: table;

    &.invoice-details {
        margin: 43px auto 53px;

        > div {
            &.close {
                display: none;
            }
        }
    }

    > div {
        display: table-cell;
        vertical-align: middle;
        padding: 43px 0;

        &.icon {
            width: 104px;

            .exclamation {
                background: url('/make-a-claim/Content/images/icon-exclamation.png');
                width: 32px;
                height: 32px;
                display: block;
                position: relative;
                margin: auto;
            }
        }

        &.label {
            width: 253px;
            color: #007db9;
            font-size: 14px;
            font-weight: 500;

            .mobile-copy {
                font-weight: 400;
                font-size: 16px;
                line-height: 1.38;
                color: #525252;
                display: none;
                margin-top: 10px;

                a {
                    color: #008bce;
                    cursor: pointer;
                }
            }
        }

        &.arrow {
            width: 80px;

            .chevron-grey {
                background: url('/make-a-claim/Content/images/grey-arrow-right.png') no-repeat;
                width: 12px;
                height: 21px;
            }
        }

        &.copy {
            width: calc(100% - 442px);
            padding-right: 43px;
            font-size: 16px;
            line-height: 1.38;
            color: #525252;

            a {
                color: #008bce;
                cursor: pointer;
            }
        }

        &.close {
            width: 54px;

            .close-icon {
                background: url('/make-a-claim/Content/images/x-grey.png') no-repeat center center;
                width: 25px;
                height: 25px;
                cursor: pointer;
                position: relative;
                margin: auto;
            }
        }
    }

    &.upload-size {
        max-width: 662px;

        > div {
            &.label {
                width: 123px;
                font-weight: normal;
            }

            &.arrow {
                width: 70px;
            }

            &.copy {
                width: calc(100% - 268px);
            }
        }

        &.upload-max {
            > div {
                padding: 20px 0;
            }
        }
    }

    &.red {
        border-left: 4px solid #d92e43;

        > div {
            &.icon {
                .exclamation {
                    background: url('/make-a-claim/Content/images/icon-exclamation-red.png');
                    width: 32px;
                    height: 32px;
                    display: block;
                    position: relative;
                    margin: auto;
                }
            }

            &.label {
                color: #d92e43;
            }
        }
    }

    &.free-cover-info {
        min-height: 68px;
        border-left: 6px solid #f8b60d;
        width: calc(100% + 40px);
        margin: -35px -20px 32px;

        > div {
            text-align: center;
            padding: 15px 50px;
            font-size: 16px;
            line-height: 1.38;
            color: #525252;

            a {
                color: #008bce;
                cursor: pointer;
            }
        }
    }

    @media all and (max-width:767px) {

        &.invoice-details {
            margin: 40px auto 27px;

            > div {
                &.close {
                    display: table-cell;
                }
            }
        }

        > div {
            &.icon {
                width: 60px;
                vertical-align: top;
                padding: 25px 0;
            }

            &.label {
                padding: 25px 0;
                vertical-align: top;
                font-size: 16px;
                font-weight: 500;

                .mobile-copy {
                    display: block;
                }
            }

            &.arrow {
                display: none;
            }

            &.copy {
                display: none;
            }

            &.close {
                padding: 20px;
                vertical-align: top;
            }
        }

        &.upload-size {
            margin-top: 10px;
            max-width: 100%;

            &.first {
                margin-top: 40px;
            }

            &.upload-max {
                > div {
                    &.icon {
                        width: 60px;
                        vertical-align: top;
                        padding: 20px;
                    }

                    &.label {
                        white-space: nowrap;

                        .mobile-copy {
                            white-space: normal;
                        }
                    }

                    &.copy {
                        width: calc(100% - 128px);

                        > div {
                            margin: 30px 0 0 -145px;
                            width: calc(100% + 175px);
                        }
                    }
                }
            }
        }
    }
}
