@import "variables.scss";

footer {

    .w-c {
        width: calc(100% - 90px);
        max-width: 1110px;

        @media all and (max-width:767px) {
            width: calc(100% - 40px);
        }
    }

    #wr {

        @media all and (max-width: 1000px) {
            right: -25px;
        }

        @media all and (max-width: 767px) {
            right: 0;
        }
    }

    .footer-menu {

        @media all and (max-width: 767px) {
            padding-bottom: 15px;
        }

        .menu-col {

            @media all and (max-width: 767px) {
                width: 45%;
                margin: 0 5% 30px 0;
            }

        }

        .menu-col:nth-child(2n + 1) {
            @media all and (max-width: 767px) {
                clear: both;
            }
        }
    }

    .footer-bar {

        @media all and (max-width: 1150px) {
            min-height: 40px;
        }

        ul {

            @media all and (max-width: 480px) {
                padding: 0;
            }

            li {

                @media all and (max-width: 1150px) {
                    display: none;
                    float: none;
                    position: relative;
                    width: 100%;
                    margin: 5px 0;
                }

                @media all and (max-width: 480px) {
                    margin: 10px 0;
                }
            }

            li.show-mobile {
                @media all and (max-width: 1150px) {
                    display: block;
                    position: relative;
                    width: 100%;
                    padding: 10px 0;
                    background: url("/make-a-claim/Content/images/select-arrow-white.png") no-repeat center right;
                    background-size: 12px 7px;
                    cursor: pointer;
                }

                @media all and (max-width: 480px) {
                    margin: 0;
                }

                @media all and (max-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5) {
                    background-image: url("/make-a-claim/Content/images/common/select-arrow-white@2x.png");
                }
            }

            li.clear {
                float: none;
                clear: both;

                @media all and (max-width: 1150px) {
                    height: 10px;
                    margin: 0;
                }
            }
        }
    }

    .footer-bar.open {
        ul {
            height:270px;
            li {
                @media all and (max-width: 1150px) {
                    display: block;
                }
            }

            li.show-mobile {
                @media all and (max-width: 1150px) {
                    background-image: url("/make-a-claim/Content/images/select-arrow-white-up.png");
                }

                @media all and (max-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5) {
                    background-image: url("/make-a-claim/Content/images/select-arrow-white-up@2x.png");
                }

                .close-hitbox {
                    @media all and (max-width: 1150px) {
                        display: block;
                    }
                }
            }
        }
    }

    .c-bar {

        .left {
            float: left;

            @media all and (max-width: 600px) {
                clear: both;
                position: relative;
                float: none;
            }
        }

        .right {

            @media all and (max-width: 600px) {
                clear: both;
                position: relative;
                float: none;
                margin-top: 10px;
            }

            ul {

                li {

                    @media all and (max-width: 600px) {
                        margin: 0 20px 0 0;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
@media all and (max-width:650px) {
    .show-cart {
        footer {
            display: none;
        }
    }
}