@import "variables.scss";
fieldset {
    border: none;
    padding: 0;
    margin: 0 0 15px;
    display: table;

    label {
        display: table-cell;
        vertical-align: top;
        padding-top: 10px;
        width: 200px;
        user-select: none;

        &.no-padding-top {
            padding-top: 0px;
        }
    }

    .input {
        display: table-cell;
        vertical-align: top;
        position: relative;

        .label {
            margin-bottom: 5px;
        }

        h2 {
            margin: 10px 0;
        }

        .error-message {
            font-size: 12px;
            letter-spacing: 0.2px;
            color: #d92e43;
            user-select: none;
        }
    }

    &.single-col {
        display: block;

        label {
            display: block;
            margin-bottom: 5px;
            width: 100%;
        }

        .input {
            display: block;
            max-width: 335px;
        }
    }

    @media all and (max-width:767px) {
        display: block;
        margin: 0 0 10px;

        label {
            display: block;
            width: 100%;
            margin-bottom: 7px;

            &.empty {
                display: none;
            }
        }

        .input {
            display: block;
            width: 100%;
        }

        &.single-col {
            .input {
                display: block;
                max-width: 100%;
            }
        }
    }
}
.fieldset-spacer {
    height: 15px;

    @media all and (max-width:767px) {
        display: none;
    }
}
.input-search {
    position: absolute;
    z-index: 2000;

    &.hidden {
        display: none;
    }

    ul {
        background: #FFFFFF;
        width: 335px;
        list-style: none;
        margin: 0;
        padding: 0 !important;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
        max-height: 250px;
        overflow: auto;

        li {
            border-top: 1px solid #eeeeee;
            height: 42px;
            padding: 8px 15px !important;
            cursor: pointer;

            &:hover,
            &.focused {
                background-color: #eeeeee;
            }

            span {
                position: relative;
                display: block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
.input-calendar {
    width: 335px;
    height: 42px;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    padding: 0 15px 2px;
    font-size: 16px;
    font-family: $fontOmnes;
    font-weight: 400;

    &:focus,
    &:hover {
        outline: none;
        border: solid 1px #f8b60d;
        box-shadow: none;
    }

    &.error {
        border: solid 1px #d92e43;
        box-shadow: none;
    }

    &::-webkit-input-placeholder {
        color: #bbbbbb;
    }

    &::-moz-placeholder {
        color: #bbbbbb;
    }

    &:-ms-input-placeholder {
        color: #bbbbbb;
    }

    &:-moz-placeholder {
        color: #bbbbbb;
    }

    @media all and (max-width:767px) {
        width: 100%;
    }
}
.input-calendar {
    background: url('/make-a-claim/Content/images/icon-calendar.svg') no-repeat 10px 13px;
    padding: 8px 10px 0 35px;
    cursor: pointer;
}
.input-prefixed {
    border-radius: 4px;
    border: solid 1px #8e8e8e;
    height: 42px;
    position: relative;

    &.currency {
        width: 158px;

        &::before {
            content: '$';
        }
    }

    &.policy {
        width: 335px;

        @media all and (max-width:767px) {
            width: 100%;
        }

        &::before {
            content: 'P';
        }

        &.free {
            &::before {
                content: 'FC';
                width: 20px;
                padding: 7px 8px;
            }
        }
    }

    &::before {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        font-size: 18px;
        display: inline-block;
        font-weight: 500;
        padding: 7px 8px;
        color: #fff;
        background-color: #8e8e8e;
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: 10;
        width: 11px;
    }


    &.complete {
        border: solid 1px #f8b60d;

        &::before {
            background: #f8b60d;
        }
    }

    > input[type="tel"],
    > input[type="number"],
    > input[type="text"] {
        border-radius: 0;
        box-shadow: none;
        border: none;
        width: calc(100% - 24px);
        height: 100%;
        padding: 0 15px 2px 35px;

        @media all and (max-width:767px) {
            width: calc(100% - 24px);
        }
    }

    &.free {
        > input[type="tel"],
        > input[type="number"],
        > input[type="text"] {

            padding: 0 15px 2px 45px;

        }
    }
}

.input-container {
    position: relative;

    .icon-clear {
        background: url("/make-a-claim/Content/images/icon-clear-field.svg") no-repeat center center;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 11px;
        cursor: pointer;
    }

    &.input-prefixed.currency {
        .icon-clear {
            left: 130px;
        }
    }
}
.check-box {
    cursor: pointer;
    user-select: none;

    .box {
        position: relative;
        float: left;
        margin-top: 2px;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        border: solid 1px #d2d2d2;
        background-color: #ffffff;
        overflow: hidden;

        &.focused {
            border: solid 1px #f8b60d;
        }

        input {
            position: absolute;
            left: -2000px;
            width: 0;
        }

        div {
            display: none;
            background: url('/make-a-claim/Content/images/icon-tick-green.svg') no-repeat center center;
            width: 20px;
            height: 20px;
        }
    }

    &.checked {
        .box {
            div {
                display: block;
            }
        }
    }

    .label {
        font-size: 16px;
        line-height: 1.25;
        float: left;
        width: calc(100% - 20px);
        padding-left: 10px;

        strong {
            font-weight: 500;
        }

        .title {
            font-weight: 500;
        }
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}
.next-back {
    width: 100%;
    max-width: 742px;
    margin: 20px auto 44px;
    position:relative;
    overflow:hidden;
    input{
        position:absolute;
        left:-2000px;
        width:0;
    }
    .button {
        width: 220px;
        float: left;
        padding: 7px 0;

        &.next {
            float: right;
        }
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }

    @media all and (max-width:767px) {
        .button {
            width: calc(50% - 7px);
        }
    }
}
   @media all and (max-width:650px) {
    .show-cart {
        .next-back{

            display:none;
        }
    }
}
.tab-field {
    display: none;
}
.bank-number-input {
    width: 250px;
    height: 42px;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    padding-top: 9px;


    > div {
        float: left;
        padding: 0 5px;
        height: 22px;

        input[type="text"] {
            position: relative;
            border: none;
            box-shadow: none;
            background: none;
            width: 100%;
            padding: 0;
            font-size: 14px;
            font-weight: 500;
            height: 20px;
            top: -2px;
        }

        &.bank {
            width: 36px;
            padding: 0 5px 0 10px;
            border-right: solid 1px #dddddd;
        }

        &.branch {
            width: 48px;
            border-right: solid 1px #dddddd;
        }

        &.account {
            width: 75px;
            border-right: solid 1px #dddddd;
        }

        &.suffix {
            width: 36px;
        }
    }

    &:focus,
    &:hover {
        outline: none;
        border: solid 1px #f8b60d;
        box-shadow: none;
    }

    &.error {
        border: solid 1px #d92e43;
        box-shadow: none;
    }
}