@import "variables.scss";

header {

    @media all and (max-width: 767px) {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }


    .top-bar {

        @media all and (max-width: 768px) {
            padding-top: 20px;
        }


        .sc-pet-logo {

            @media all and (max-width: 768px) {
                margin-top: 0;
            }

            @media all and (max-width: 359px) {
                margin-top: -1px;
                width: 155px;
                height: 39px;
            }
        }

        .sponsor {

            @media all and (max-width: 767px) {
                bottom: 8px;
            }
        }
    }

    .menu-bar {
        @media all and (max-width: 990px) {
            overflow: hidden;
            max-height: 44px;
        }

        @media all and (max-width: 767px) {
            position: relative;
            top: auto;
        }

        .navbar-toggle {
            display: none;
            position: relative;
            float: left;
            width: 100%;
            height: 40px;
            margin-right: 0;
            padding: 9px 10px 9px 0;
            margin-top: -2px;
            background-image: none;
            // border: 1px solid transparent;
            border-radius: 0;
            border: 0;
            background-color: $blue;
            font-size: 16px;
            cursor: pointer;
            outline: none;

            @media all and (max-width: 990px) {
                display: block;
                float: none;
            }

            .close-hitbox {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 44px;
                cursor: pointer;
                z-index: 10;
                display: none;
            }

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }

            .icon-bar {
                position: absolute;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                background-color: $white;
            }

            .icon-bar[data-index="0"] {
                top: 9px;
            }

            .icon-bar[data-index="1"] {
                top: 15px;
            }

            .icon-bar[data-index="2"] {
                top: 21px;
            }

            .navbar-text {
                position: absolute;
                top: 4px;
                left: 32px;
                margin-top: 0px;
                margin-bottom: 0px;
                color: #fff;
                font-weight: 500;
                z-index: 1;
            }

            .navbar-text-close {
                opacity: 0;
            }
        }

        ul {

            @media all and (max-width: 990px) {
                display: none;
            }

            li {

                @media all and (max-width: 990px) {
                    clear: both;
                    padding: 23px 0 3px 0;
                }

                a {

                    @media all and (max-width: 1080px) {
                        font-size: 14px;
                    }

                    @media all and (max-width: 990px) {
                        font-size: 20px;
                    }
                }
            }

            li.selected {

                @media all and (max-width: 768px) {
                    padding-bottom: 5px;
                }
            }
        }
    }

    .att-b[data-current-slide="0"] {
        .slides {
            .slide[data-index="0"] {
                opacity: 1;
                pointer-events: auto;
                z-index: 100;
            }
        }
    }

    .att-b[data-current-slide="1"] {
        .slides {
            .slide[data-index="1"] {
                opacity: 1;
                pointer-events: auto;
                z-index: 100;
            }
        }
    }

    .att-b[data-current-slide="2"] {
        .slides {
            .slide[data-index="2"] {
                opacity: 1;
                pointer-events: auto;
                z-index: 100;
            }
        }
    }

    .att-b[data-current-slide="3"] {
        .slides {
            .slide[data-index="3"] {
                opacity: 1;
                pointer-events: auto;
                z-index: 100;
            }
        }
    }

    .att-b[data-current-slide="4"] {
        .slides {
            .slide[data-index="4"] {
                opacity: 1;
                pointer-events: auto;
                z-index: 100;
            }
        }
    }

    .att-b[data-current-slide=""] {
        .close-btn {
            display: none;
        }
    }

    .att-b {
        position: relative;
        width: 100%;
        background-color: #61a60b;
        min-height: 42px;
        overflow: hidden;
        z-index: 1000;

        @media all and (max-width: 600px) {
            min-height: 60px;
        }

        .vertical-align-container {
            position: absolute;
            height: 42px;

            @media all and (max-width: 600px) {
                height: 60px;
            }
        }

        .slide.one-line {
            .txt {
                @media all and (max-width: 480px) {
                    width: 100%;
                }

                @media all and (max-width: 350px) {
                    font-size: 14px;
                }

                a, .link {
                    @media all and (max-width: 480px) {
                        font-size: 14px;
                        position: static;
                        top: auto;
                        right: auto;
                    }
                }
            }
        }

        .amp-carousel-button-prev, .amp-carousel-button-next {
            display: none;
        }

        .slides {
            position: relative;
            width: 100%;

            .slide {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                pointer-events: none;
                z-index: 1;

                &.r {
                    position: relative;
                }
            }
        }

        .close-btn {
            position: absolute;
            top: -1px;
            right: -16px;
            width: 40px;
            height: 42px;
            background: url("/make-a-claim/Content/images/x@2x.png") no-repeat center;
            background-size: 8px 8px;
            cursor: pointer;
            z-index: 300;

            @media all and (max-width: 767px) {
                display: none;
            }

            @media all and (max-width: 480px) {
                top: 4px;
            }
        }

        .txt {
            position: relative;
            width: calc(100% - 40px);
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.375;
            font-weight: 600;
            color: $white;
            text-align: center;
            z-index: 2;
            padding: 0;

            @media all and (max-width: 480px) {
                margin: 0;
                text-align: left;
                width: calc(100% - 100px);
                font-size: 14px;
            }

            @media all and (max-width: 350px) {
                font-size: 11px;
            }

            a, .link {
                display: inline-block;
                padding-bottom: 0;
                border-bottom: 1px solid $white;
                color: $white;
                cursor: pointer;
                font-size: 16px;
                line-height: 1.375;

                @media all and (max-width: 480px) {
                    position: absolute;
                    top: 12px;
                    right: -100px;
                }
            }
        }

        @media all and (max-width: 639px) {
            .slide {
                .txt {
                    padding-top: 0;
                }
            }
        }
    }

    .att-b.close {
        height: 0px;
        min-height: 0px;
    }

    .mobile-footer {

        .pet-animation {
            position: absolute;
            top: -110px;
            right: 0;
            width: 100px;
            height: 100px;

            .pet-anim {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 120px;
                height: 120px;
                margin: -60px 0 0 -60px;
            }
        }

        .button {
            width: 220px;

            @media all and (max-width: 480px) {
                width: 100%;
            }
        }
    }
}

body.show-menu {
    @media all and (max-width: 990px) {
        background-color: $blue;
    }

    @media all and (max-width: 768px) {
        min-height: 100%;
    }

    .att-b {
        display: none;
    }

    .menu-bar {
        @media all and (max-width: 990px) {
            height: auto;
            max-height: 600px;
        }

        ul {
            @media all and (max-width: 990px) {
                display: block;
            }
        }

        .mobile-footer {
            @media all and (max-width: 990px) {
                display: block;
            }
        }

        .navbar-toggle {
            margin-left: -2px;

            .close-hitbox {
                display: block;
            }

            .navbar-text {
                opacity: 0;
            }

            .navbar-text-close {
                opacity: 1;
            }

            .icon-bar[data-index="0"] {
                top: 15px;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .icon-bar[data-index="2"] {
                top: 15px;
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            .icon-bar[data-index="1"] {
                opacity: 0;
            }
        }
    }

    .body-content, .help-container, footer {
        @media all and (max-width: 990px) {
            display: none;
        }
    }

    header {
        max-height: none;
    }
}

.header-spacer {

    @media all and (max-width: 767px) {
        display: none;
    }
}

body.fixed-menu {
    header {
        #fixed-menu-bar-spacer {
            @media all and (min-width: 769px) {
                display: block;
            }
        }

        .menu-bar {
            @media all and (min-width: 769px) {
                position: fixed;
            }
        }
    }
}

#att-p-b.slide0 {
    display: block;

    .box[data-index='0'] {
        display: block;
    }
}

#att-p-b.slide1 {
    display: block;

    .box[data-index='1'] {
        display: block;
    }
}

#att-p-b.slide2 {
    display: block;

    .box[data-index='2'] {
        display: block;
    }
}
