@import "variables.scss";

.show-menu{
    main{
        display:none;
    }
}
.debug-nav{
    position:absolute;
    top:0;
    right:0;
    z-index:900;
    display:none;
}

.test {
    color: orange;
}
@import "common.scss";
@import "header.scss";
@import "footer.scss";
@import "help.scss";
@import "banner.scss";
@import "home.scss";
@import "fonts.scss";
@import "popup.scss";
@import "progress-bar.scss";
@import "forms.scss";
@import "sc-calendar.scss";
@import "shopping-cart.scss";
@import "claim-section.scss";
@import "summary-header.scss";
@import "icon-help.scss";
@import "loading.scss";
@import "pet-animation.scss";
@import "browser-error.scss";
@import "error-message.scss";

