$fontOmnes: "omnes-pro", Arial, serif;
$grey:#858585;
$deepblue: #0a4e7f;
$blue: #008BCE;
$darkBlue: rgba(18, 86, 135, 0.9);
$orange: #f3b107;
$darkOrange: #e4960a;
$lightGreen: #b5c50d;
$green: #469f35;
$paleBlue: #e7f6fe;
$grey: #525252;
$red: #cf142b;
$footerGrey: #4a4a4a;
$greyBg: #626366;
$lightGrey: #edeced;
$white: #ffffff;
$lightGrey: #f7f7f7;
$yellow: #f3b107;
$veryLightGrey: #eaeaea;
$footerGrey: #626366;
$maxFullWidth: 1200px;
$maxWidth: 1100px;
$maxWidthSmall: 800px;
$maxWidthSmallExtra: 840px;
@mixin easeQuartOut($time) {
    -webkit-transition: all $time cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition: all $time cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition: all $time cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition: all $time cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
@mixin easeInOutQuart($time,$target) {
    -webkit-transition: $target $time cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: $target $time cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: $target $time cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: $target $time cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
@mixin easeNone() {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}