<section #paymentSection class="payment">
  <h2>Payment details</h2>
  <div class="payment-details">
    <div class="form-item space-bottom">
      <div class="table">
        <div class="row">
          <div class="cell label pay-method {{focusMethod ? 'tab-in' : ''}}">
              Payment method
          </div>
          <div class="cell radio dd">
            <app-radio-btn label="Direct debit" (outChecked)="setPaymentMethod('DD')" smallLabel="2.5% discount" [checked]="quote.paymentMethod.Code === 'DD'"></app-radio-btn>
          </div>
          <div class="cell radio cc">
            <app-radio-btn label="Credit Card" (outChecked)="setPaymentMethod('CREDIT')" [checked]="quote.paymentMethod.Code === 'CREDIT'"></app-radio-btn>
          </div>
          <div class="cell radio cc-logos">
            <img src="/quote/Content/images/pet-quote/cc-logo-visa.png" alt="Visa">&nbsp;
            <img src="/quote/Content/images/pet-quote/cc-logo-mastercard.png" alt="Master Card">
          </div>
          <div class="tab-field">
            <input type="text" #tabInput tabindex="0" (focusin)="tabInMethod()" (focusout)="tabOutMethod()" (keydown)="keydownMethod($event)" data-role="none" >
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="quote.paymentMethod.Code === 'DD'">
      <div class="form-item space-bottom">
        <app-yes-no-radio-buttons
          [(ngModel)]="quote.authorityToOperateBankAccount"
          configCss="close-yes-no"
          label="Are you the account holder with the authority to operate this account on your own?"
          (valueChange)="authorityChange()"
        ></app-yes-no-radio-buttons>
      </div>
      <div class="form-item">
        <app-text-input
          label="Account holder name"
          labelclass="wide"
          tableclass="auto-width"
          [required]="true"
          errorMessage="Please enter account holder name"
          (inputChange)="validate()"
          (inputFocusin)="trackField('bank_account_holder_name')"
          (trackError)="trackFieldError($event,'bank_account_holder_name')"
          [(ngModel)]="quote.bankAccountHolderName"
          [clearbutton]="true"
          [maxlength]=30
          classes="capitalise-input"
        ></app-text-input>
      </div>
      <div class="form-item form-item">
        <app-bank-account
        [(ngModel)]="quote.bankAccountNumber"
        (inputChanged)="validate()"
        (trackError)="trackFieldError($event,'bank_account_number')"
        ></app-bank-account>
      </div>
    </div>

  </div>
  <div class="relative-680 agree-credit-card" *ngIf="quote.paymentMethod.Code === 'CREDIT'">
      <p>
          You can enter your credit card details on the next screen once you submit your application below. We will wait until
          your policy is set up before we process your payment, and will notify you first. We will quickly verify your credit
          card details by deducting then reimbursing $1.
      </p>
      <app-check-description-box
      #agreeCCTermsBox
      [description]="copy.agreeCCTerms"
      [error] = "creditCardTermsInvalid"
      errormessage="Please check the box to indicate you accept the Terms and conditions"
      [(ngModel)]="quote.agreedCreditCardTerms"
      (valueChanged)="validate()"></app-check-description-box>
  </div>

  <div class="relative-680 payment-date">

    <div class="premium-total">
      <div class="item monthly">
        <div class="title">
            Total {{ quote.paymentFrequency.label }} premium
        </div>
        <div class="circle circle-money">
          <div class="circle-inner">
            <div class="amount">
                <sup>$</sup>{{totalDollar}}<sup>.{{totalCents}}</sup>
            </div>
            <div class="detail">total</div>
          </div>
        </div>
        <div class="summary">
            Including GST
        </div>
      </div>
    </div>
    <div class="payment-date-inner">

      <p>
        Please choose the date you want your premium to be taken from your account. The payment date must be at
        least {{quote.paymentMethod.Code === 'DD' ? '13' : '1'}}, but no more than 30 days from the policy start date.
      </p>

      <div class="date-form">
        <div class="form-item">
          <div class="table">
            <div class="row">
              <div class="cell label">
                  Premium will be collected {{ quote.paymentFrequency.label }} from <br>this&nbsp;date&nbsp;&nbsp;<app-help-icon [offsetY]="15" #premiumHelp helpId="{{quote.paymentMethod.Code=== 'DD' ? 'premiums-collected-dd' : 'premiums-collected-cc'}}"></app-help-icon>
              </div>
              <div class="cell input">
                <app-date-picker #premiumDatePicker pickerTarget="datePremiumCollected" [(ngModel)]="quote.paymentDate" [startRange]="paymentStartRange" [endRange]="paymentEndRange" keepInRange="true"></app-date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative-680 terms-declaration">
    <h3>Declaration. Please read and tick the box to accept before you proceed.</h3>
    <div class="declaration">

      <app-check-description-box
      #declarationBox
      [checkBottom] = "true"
      [descFull] = "true"
      [error] = "declarationInvalid"
      checkLabel = "I agree"
      [description]="declarationCopy"
      errormessage="Please check the box to indicate you agree"
      [(ngModel)]="quote.readDeclaration"
      (valueChanged)="validate()">
    </app-check-description-box>
    </div>
  </div>
  <app-next-back (goBack)="back()" nextLabel="Submit" [enabledNext]="complete" [allowNextClick]="true" (goNext)="executeReCaptcha()" (errorNext)="displayValidation()"></app-next-back>
  <app-recaptcha #captchaRef (resolved)="submit($event)"></app-recaptcha>
  <div class="relative-680 terms-declaration financial-strength">
    <div class="financial-strength-rating">
      <h3>
        Financial strength rating
      </h3>
      <div class="top">
        <div class="circle circle-rating">
          <div class="circle-inner">
            <div class="rating">A</div>
          </div>
        </div>
        <div class="rating-intro">
          <p>Southern Cross Pet Insurance Limited has an ‘A’ (Strong) financial strength rating given by Standard & Poor’s (Australia) Pty Limited.
            A rating of ‘A’ means Southern Cross Pet Insurance Limited has a ‘strong’ claims-paying ability.</p>
          <p>The rating scale is:</p>
        </div>
      </div>
      <div class="rating-table">
        <div class="row">
          <div class="cell">AAA (Extremely Strong)</div>
          <div class="cell">AA (Very Strong)</div>
          <div class="cell">A (Strong)</div>
        </div>
        <div class="row">
          <div class="cell">BBB (Good)</div>
          <div class="cell">BB (Marginal)</div>
          <div class="cell">B (Weak)</div>
        </div>
        <div class="row">
          <div class="cell">CCC (Very Weak)</div>
          <div class="cell">CC (Extremely Weak)</div>
          <div class="cell">SD or D (Selective Default or Default)</div>
        </div>
        <div class="row">
          <div class="cell">R (Regulatory Action)</div>
          <div class="cell">NR (Not Rated)</div>
          <div class="cell"></div>
        </div>
      </div>
      <div class="disclosure">
        <p>
          Ratings from ‘AA’ to ‘CCC’ may be modified by the addition of a plus (+) or minus (-) sign to show relative standing within the major rating categories.
          Full details of the rating scale are available at <a href="https://www.standardandpoors.com" target="_blank">www.standardandpoors.com</a>. Standard & Poor’s is an approved rating
          agency under the Insurance (Prudential Supervision) Act 2010.
        </p>

      </div>
    </div>

  </div>

</section>

<app-popup-modal
  #notAccountHolderPopup
  windowClass="payment-not-account-holder"
  [show]="showNotAccountHolderPopup"
  (closePopup)="closeNotAccountHolderPopup();"
  [copy]="copy.notAccountHolderPopUp">
></app-popup-modal>


<app-payment-declined-modal
    #authorisedPersonPopup
    [show]="showPaymentDeclined"
    (closePopup)="closePaymentDeclined();"
    (tryAgain)="captchaRef.execute()"
></app-payment-declined-modal>
