<div class="sc-calendar {{hasSixRow ? 'six-rows' : ''}} {{show ? 'show' : ''}}" [style.top.px]="top"  [style.left.px]="left">
    <div class="select-button" (click)="select()">
        Select invoice date
    </div>
    <div class="month-select">
        <div [class]="allowMonthBack ? 'arrow' : 'arrow disabled'" (click)="monthPrev()"></div>
        <div class="label">
            <span *ngIf="!viewMonths">{{monthString}} &nbsp; &nbsp;</span> <span class="year" (click)="showMonths()">{{yearString}}</span>
        </div>
        <div [class]="allowMonthForward ? 'arrow next' : 'arrow next disabled'"  (click)="monthNext()"></div>
    </div>
    <table class="month-table" *ngIf="viewMonths">
        <tr>
            <td (click)="selectMonth(month)" *ngFor="let month of row1Months; index as i" [class]="selectedMonth === month.month ? 'selected ' + month.css : month.css">
                <span>{{month.value}}</span>
            </td>
        </tr>
        <tr>
            <td (click)="selectMonth(month)" *ngFor="let month of row2Months; index as i" [class]="selectedMonth === month.month ? 'selected ' + month.css : month.css">
                <span>{{month.value}}</span>
            </td>
        </tr>
        <tr>
            <td (click)="selectMonth(month)" *ngFor="let month of row3Months; index as i" [class]="selectedMonth === month.month ? 'selected ' + month.css : month.css">
                <span>{{month.value}}</span>
            </td>
        </tr>
        <tr>
            <td (click)="selectMonth(month)" *ngFor="let month of row4Months; index as i" [class]="selectedMonth === month.month ? 'selected ' + month.css : month.css">
                <span>{{month.value}}</span>
            </td>
        </tr>
    </table>
    <table *ngIf="!viewMonths">
        <tr>
            <th>MO</th>
            <th>TU</th>
            <th>WE</th>
            <th>TH</th>
            <th>FR</th>
            <th>SA</th>
            <th>SU</th>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row1Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row2Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row3Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row4Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row5Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
        <tr>
            <td (click)="selectDate(day)" *ngFor="let day of row6Dates; index as i" [class]="day.css"><span>{{day.value}}</span></td>
        </tr>
    </table>

    <div class="tab-field">
      <input type="text" #tabInput tabindex="0" (keydown)="keydown($event)" data-role="none" >
    </div>
</div>
