
<section class="claim-section your-details">
    <h1>First, confirm your details</h1><p style="display: none;">test v4</p>
    <app-error-message  *ngIf="freeCover" type="free-cover-info" specificType="first"></app-error-message>
    <fieldset>
        <label>First name</label>
        <div class="input">
            <app-text-input 
                maxlength="30"
                [tabindexValue]="1" 
                interactionName="First name"
                [(ngModel)]="firstName" 
                (focusOut)="validate($event)" 
                (inputChange)="updateState($event)" 
                errorMessage="Please enter your first name">
            </app-text-input>
        </div>
    </fieldset>
    <fieldset>
        <label>Last name</label>
        <div class="input">
            <app-text-input 
                maxlength="30"
                interactionName="Last name"
                [tabindexValue]="2" 
                [(ngModel)]="lastName" 
                (focusOut)="validate($event)" 
                (inputChange)="updateState($event)" 
                errorMessage="Please enter your last name">
            </app-text-input>
        </div>
    </fieldset>
    <fieldset>
        <label>
            Pet name 
            <app-help-icon [copy]="petNameCopy" helpId="petName"></app-help-icon>
        </label>
        <div class="input">
            <app-text-input 
                maxlength="15"
                interactionName="Pet name"
                [tabindexValue]="3" 
                [(ngModel)]="petName" 
                (focusOut)="validate($event)" 
                (inputChange)="updateState($event)" 
                errorMessage="Please enter your pet name">
            </app-text-input>
        </div>
    </fieldset>
    <fieldset>
        <label *ngIf="!freeCover">
            Policy number
            <app-help-icon [copy]="policyNumberCopy" helpId="policyNumber"></app-help-icon>
        </label>
        <label *ngIf="freeCover">
            Free Cover number
            <app-help-icon [copy]="freeCoverNumberCopy" helpId="freeCoverNumber"></app-help-icon>
        </label>
        <div class="input">
            <app-text-input 
                [interactionName]="freeCover ? 'Free Cover number' : 'Policy number'"
                [tabindexValue]="4" 
                type="policy-number"
                maxlength="7"
                [required]="false"
                [prefixedValue]="freeCover ? 'free' : ''"
                [placeholder]="freeCover ? 'Free Cover number for this pet' : 'Policy number for this pet'" 
                [(ngModel)]="policyNumber" 
                (focusOut)="validate($event)"
                (inputChange)="updateState($event)" 
                errorMessage="Please enter your Policy number">
            </app-text-input>
        </div>
    </fieldset>
    <fieldset>
        <label>Email</label>
        <div class="input">
            <app-text-input 
                type="email" 
                interactionName="Email"
                maxlength="80"
                [tabindexValue]="5" 
                [(ngModel)]="email"
                errorMessage="Please enter a valid email address"
                (focusOut)="validate($event)"
                (inputChange)="updateState($event)" >
            </app-text-input>
        </div>
    </fieldset>
    <fieldset>
        <label>Contact number</label>
        <div class="input">
            <app-text-input 
                [tabindexValue]="6" 
                interactionName="Contact number"
                maxlength="15"
                errorMessage="Please enter your contact number"
                type="tel" 
                [(ngModel)]="contactNumber" 
                (focusOut)="validate($event)"
                (inputChange)="updateState($event)">
            </app-text-input>
        </div>
    </fieldset>    
</section>
<app-next-back (goNext)="next()" (goBack)="back()" [tabindexValue]="9"  [allowNext]="complete"></app-next-back>