<div id="att-p-b" class="popup-box force-show no-mobile-fix" data-current-popup="0">
    <div class="blackout" (click)="close()"></div>
    <div class="vertical-align-container">
        <div class="vertical-align">
           <div class="box timeout" data-index="0">
                <div class="close-btn" role="button" tabindex="0" (click)="close()"></div>
                <div class="content petquote-popup">
                    <h2 class="m-m">Timed out.</h2>
                    <h3 class="bigger">
                        Your session has timed out after 15 minutes of inactivity.
                    </h3>
   
                    <button class="big-close-btn btn"  role="button" tabindex="0"  (click)="close()">OK, close this window</button>
                </div>
            </div>
        </div>
    </div>
</div>
