<div class="att-b {{close}}" attr.data-current-slide="{{currentSlide}}">
    <div class="w-c">
        <div class="close-btn" (click)="closeAttentionBar()"></div>
        <div class="slides">

            <div class="slide one-line" data-index="0">
                <div class="vertical-align-container">
                    <div class="vertical-align">
                        <div class="txt">
                            Score great value discounts on your pet insurance&nbsp;-&nbsp;<span class="launch-pet-insurance-popup link" (click)="showDiscountModal()">find out more&nbsp;here</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide one-line" data-index="1">
                <div class="vertical-align-container">
                    <div class="vertical-align">
                        <div class="txt">
                            Discount - save 5% for each extra pet on your policy!
                        </div>
                    </div>
                </div>
         
            </div>

            <div class="slide one-line" data-index="2">
                <div class="vertical-align-container">
                    <div class="vertical-align">
                        <div class="txt">
                            Save another 2.5% if you’re a Southern Cross Health Society member
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide one-line" data-index="3">
                <div class="vertical-align-container">
                    <div class="vertical-align">
                        <div class="txt">
                            More discounts! Save 2.5% when you pay by monthly direct debit
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>