<div class="clearfix next-back-container">
    <div *ngIf="showBack" class="btn back white" (click)="back();">
        <span class="icon">
            <img src="/quote/Content/images/pet-quote/icon-chevron-down-gold.svg" alt="Add another pet">
        </span>
        &nbsp;
        {{backLabel}}
    </div>
    <div class="btn next {{enabledNext ? '' : 'disabled'}} {{allowNextClick ? 'all-pointer-events' : ''}}  {{nextTabFocus ? 'tab-focus' : ''}}" (click)="next($event);">
        {{nextLabel}}
        &nbsp;
        <span class="icon">
            <img src="/quote/Content/images/pet-quote/icon-chevron-right-white.svg" alt="Next">
        </span>
        <div class="tab-input">
            <input data-role="none" type="text" [tabindex]="nextTabIndex"  (focusout)="tabFromNext()" (keydown)="nextKeyDown($event)"   (focusin)="tabToNext()">
        </div>
    </div>
</div>
