<div class="typeahead-input {{open ? 'open' : ''}} {{selectOpen ? 'selectOpen' : ''}}  {{disabled ? 'disabled' : ''}}"
    (window:click)="close($event)">
    <div class="input-container {{error?'input-error':''}}">
        <input #searchinput
        class="input-field "
        type="text"
        (input)="search($event)"
        (keydown)="inputKeyDown($event)"
        value="{{value !== null ? value.label : null}}"
        [readonly]="readonly || disabled"
        (focusin)="tabIn()"
        (focusout)="tabOut()"
        placeholder="{{placeholder}}"
        tabindex="{{tab}}"
        data-role="none"
        />
    </div>

    <img class="arrow" src="/quote/Content/images/pet-quote/icon-chevron-down-blue.svg" alt="Open" (click)="toggleOpen($event)">
    <ul *ngIf="result.length">
        <li class="title" *ngIf="showListTitle">Top 5 most popular breeds</li>
        <li
        *ngFor="let item of popular; let i = index;"
        attr.data-id="{{ item.id }}"
        [class]="i === selectedIndex ? 'selected' : ''"
        (click)="setValue($event,item);"
        attr.data-index="{{ i }}"
        >{{item.label}}</li>
        <li class="title" *ngIf="showListTitle">All breeds alphabetically</li>
        <li
        *ngFor="let item of result;let i = index;"
        attr.data-id="{{ item.id }}"
        [class]="(i === selectedIndex ? 'selected' : '')"
        (click)="setValue($event,item);" 
        >{{item.label}}</li>

    </ul>
</div>
