<div class="table {{tableclass}}">
    <div class="row">
        <label for="{{inputId}}" class="cell label {{labelclass}}">
            {{label}}&nbsp;&nbsp;<app-help-icon class="{{help === undefined ? 'hide' : ''}}" [helpId]="help" [offsetY]="15"></app-help-icon>
            <span class="max-length" *ngIf="displayMaxLength">
                Maximum {{maxlength}} characters
            </span>
        </label>

        <div class="cell input {{classes}} {{error ? 'input-cell-error' : ''}}">
            <input
                #inputTextElement
                *ngIf="type === 'text'"
                class="txt-input {{error ? 'input-error' : ''}} "
                id="{{inputId}}"
                type="{{type}}"
                [(ngModel)]="value"
                (input)="input()"
                (focusin)="focusin()"
                (focusout)="focusout()"
                placeholder="{{placeholder}}"
                tabindex="{{tab}}"
                pattern="{{pattern}}"
                data-role="none"
                maxlength="{{maxlength}}"
            >

            <input
                #inputTextElement
                *ngIf="type === 'email'"
                class="txt-input {{error ? 'input-error' : ''}} "
                id="{{inputId}}"
                type="{{type}}"
                [(ngModel)]="value"
                (input)="input()"
                (focusin)="focusin()"
                (focusout)="focusout()"
                placeholder="{{placeholder}}"
                tabindex="{{tab}}"
                pattern="{{pattern}}"
                data-role="none"
                maxlength="{{maxlength}}"
            >
            <input
                #inputTelElement
                *ngIf="type === 'tel'"
                class="txt-input {{error ? 'input-error' : ''}} tel-input"
                id="{{inputId}}"
                type="{{type}}"
                [(ngModel)]="value"
                (input)="input()"
                (focusin)="focusin()"
                (focusout)="focusout()"
                placeholder="{{placeholder}}"
                tabindex="{{tab}}"
                pattern="{{pattern}}"
                appDigitOnly
                data-role="none"
                maxlength="{{maxlength}}"
            >
            <textarea
                #inputTextElement
                *ngIf="type === 'textarea'"
                class="txt-input {{error ? 'input-error' : ''}} text-area"
                id="{{inputId}}"
                [(ngModel)]="value"
                (input)="input()"
                (focusin)="focusin()"
                (focusout)="focusout()"
                placeholder="{{placeholder}}"
                tabindex="{{tab}}"
                pattern="{{pattern}}"
                data-role="none"
                maxlength="{{maxlength}}"
            ></textarea>
            <img (click)="clearfield()" *ngIf="clearbutton && value !== ''" src="/quote/Content/images/pet-quote/icon-clear-field.svg" class="icon_clear_field">
        </div>


    </div>
    <div *ngIf="subtext !== ''" class="row ">
      <div class="cell label"></div>
      <div class="cell subtext">{{subtext}}</div>
    </div>
    <div class="row error-message {{error ? 'show' : ''}}">
        <div class="cell label"></div>
        <div class="cell">
            {{errorMessage}}
        </div>
    </div>
</div>
