<section #choosePlan class="choose-plan">
    <div class="plan-options">
        <h2>Choose a&nbsp;plan</h2>
        <h3>Go for comprehensive cover or&nbsp;accident-only</h3>

    </div>
    <div #petPlans class="plan-options-wrap">
        <app-plans-boxes #topPlanBox
            id="plan-boxes-top"
            class="plan-boxes-top"
            (selectPlan)="selectPlan($event);"
            [selectedColumn]="selectedColumn"
            [bouncePetCare]="bouncePetCare"
            [bounceAcciPet]="bounceAcciPet"
            [value]="currentPet.selectedPlan"
            [pet]="currentPet"
            [plan]="currentPet.plan"
        ></app-plans-boxes>
        <div class="fix-plan-spacer"></div>

        <div class="plan-options" *ngIf="planSelected">
            <div class="three-boxes clearfix {{selectedColumn}} {{currentPet.selectedPlan}} {{disablePetCare}}">
                <div class="box dark">
                    Eligibility when joining
                </div>
                <div class="box box-1 light">
                  8 weeks to 6 years old (inclusive)
                </div>
                <div class="box box-2 light">
                  8 weeks with no upper age limit
                </div>
            </div>
            <h4 class="basic-cover-title">Basics - What’s&nbsp;covered</h4>
            <div class="three-boxes clearfix basic-cover-boxes {{selectedColumn}} {{quote.pets[petIndex].selectedPlan}} {{disablePetCare}} match-height">
                <div class="box dark">
                    <ul>
                        <li>
                            Accidental injury&nbsp;&nbsp;<app-help-icon helpId="accidental-injury" [offsetY]="15"></app-help-icon>
                        </li>
                        <li>
                            Illness&nbsp;&nbsp;<app-help-icon helpId="illness" [offsetY]="15"></app-help-icon>
                        </li>
                        <li>
                            Inherited conditions&nbsp;&nbsp;<app-help-icon helpId="inherited-conditions" [offsetY]="15"></app-help-icon>
                        </li>
                        <li>Vaccinations / Check-ups*</li>
                    </ul>
                </div>
                <div class="box box-1 light {{quote.pets[petIndex].selectedPlan === 'accipet' ? 'disabled-icons' : ''}}">
                    <ul>
                        <li><img class="tick" src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                        <li><img class="tick" src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                        <li><img class="tick" src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                        <li><img class="tick" src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                    </ul>
                </div>
                <div class="box box-2 light {{quote.pets[petIndex].selectedPlan === 'petcare' ? 'disabled-icons' : ''}}">
                    <ul>
                        <li><img class="tick" src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                    </ul>
                </div>
                <p class="cover-condition">*up to $25 contribution per&nbsp;year</p>
            </div>
            <h4 class="{{focusLimit?'tab-in':''}}">Annual limits - Decide the amount of&nbsp;cover</h4>
            <div class="three-boxes clearfix limits-boxes {{selectedColumn}} {{quote.pets[petIndex].selectedPlan}} {{disablePetCare}} match-height">
                <div class="box dark">
                    <ul>
                        <li>$2,500 a year <span>(Bronze Ribbon)</span></li>
                        <li>$5,000 a year <span>(Silver Ribbon)</span></li>
                        <li>$10,000 a year <span>(Gold Ribbon)</span></li>
                        <li>$15,000 a year <span>(Blue Ribbon)</span></li>
                    </ul>
                </div>
                <div class="box box-1 light limits-box">
                    <ul>
                        <li>
                            <app-radio-btn
                                [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                                class="limit-checkbox"
                                value="0"
                                (outChecked)="selectLimit('bronze');"
                                [checked]="currentPet.selectedLimitName === 'bronze'"
                            
                            ></app-radio-btn>
                        </li>
                        <li>
                            <app-radio-btn
                                class="limit-checkbox"
                                value="1"
                                (outChecked)="selectLimit('silver');"
                                [checked]="currentPet.selectedLimitName === 'silver'"
                                [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                            ></app-radio-btn >
                            <span class="input-note">Most <br>popular*</span>
                        </li>
                        <li>
                            <app-radio-btn
                                class="limit-checkbox"
                                value="2"
                                (outChecked)="selectLimit('gold');"
                                [checked]="currentPet.selectedLimitName === 'gold'"
                                [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                            ></app-radio-btn >
                        </li>
                        <li>
                            <app-radio-btn
                                class="limit-checkbox"
                                value="3"
                                (outChecked)="selectLimit('blue');"
                                [checked]="currentPet.selectedLimitName === 'blue'"
                                [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                            ></app-radio-btn >
                        </li>
                    </ul>

                    <div class="tab-field">
                      <input data-role="none" type="text" #tabInput tabindex="{{quote.pets[petIndex].selectedPlan === 'petcare'?'0':'-1'}}" (focusin)="tabInLimit()"  (focusout)="tabOutLimit()" (keydown)="keydownLimit($event)">
                    </div>
                </div>
                <div class="box box-2 light limits-box {{quote.pets[petIndex].selectedPlan === 'petcare' ? 'disabled-icons' : ''}}">
                    <ul>

                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-tick-green.svg" alt="yes"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                    </ul>
                </div>
                <p class="cover-condition">*based on sales data</p>
            </div>
         
            <h4>Extras - Optional added protection for your&nbsp;pet</h4>
            <div class="three-boxes clearfix {{selectedColumn}} {{quote.pets[petIndex].selectedPlan}} {{disablePetCare}} match-height">
                <div class="box dark optional-box">
                    <ul>
                        <li>
                            Day-to-day care extra&nbsp;&nbsp;<app-help-icon helpId="day-to-day-care"  [offsetY]="15"></app-help-icon>

                        </li>
                        <li>
                            Dental care extra&nbsp;&nbsp;<app-help-icon helpId="dental-care"  [offsetY]="15"></app-help-icon>
                        </li>
                    </ul>
                </div>
                <div class="box box-1 light less-padding optional-box">
                    <ul>
                        <li class="less-margin">
                          <app-check-box class="limit-checkbox"
                          [checked]="quote.pets[petIndex].selectedPlanOptions.has('DAY2DAY') && quote.pets[petIndex].selectedPlan === 'petcare'"
                          value="1"
                          [large]="true"
                          (checkChange)="dayToDayCare($event);"
                          [text]="quote.pets[petIndex].selectedPlan === 'petcare' ? dayToDayCarePrice : ''"
                          [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                          ></app-check-box>
                        </li>
                        <li class="less-margin">
                          <app-check-box class="limit-checkbox"
                          [checked]="quote.pets[petIndex].selectedPlanOptions.has('DENTAL') && quote.pets[petIndex].selectedPlan === 'petcare'"
                          value="1"
                          [large]="true"
                          (checkChange)="dentalCare($event);"
                          [text]="quote.pets[petIndex].selectedPlan === 'petcare' ? dentalCarePrice : ''"
                          [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                          ></app-check-box>
                   
                        </li>
                    </ul>
                </div>
                <div class="box box-2 light">
                    <ul>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                        <li><img src="/quote/Content/images/pet-quote/icon-grey-x.svg" alt="no"></li>
                    </ul>
                </div>
            </div>
            <h4>
                Co-payment options
                <span>
                    &nbsp; <span (click)="showCoPaymentModal()">Tell me more</span>.
                </span>
            </h4>
            <div class="three-boxes clearfix discount-boxes {{selectedColumn}} {{quote.pets[petIndex].selectedPlan}} {{disablePetCare}} match-height">
                <div class="box dark">
                    <ul>
                        <li>
                            20% Co-payment&nbsp;&nbsp;<app-help-icon helpId="co-payment"  [offsetY]="15"></app-help-icon>
                        </li>
                        <li>
                            0% Co-payment

                        </li>
                    </ul>

                </div>
                <div class="box box-1 light">
                    <ul>
                        <li>
                            <app-radio-btn
                            class="limit-checkbox"
                            value="1"
                            (outChecked)="addCoPayment('petcare',true);"
                            [checked]="quote.pets[petIndex].petcareCoPayment"
                            [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                            ></app-radio-btn >

                        </li>
                        <li>
                            <app-radio-btn
                            class="limit-checkbox"
                            value="1"
                            (outChecked)="addCoPayment('petcare',false);"
                            [checked]="quote.pets[petIndex].petcareCoPayment === false"
                            [disabled]="quote.pets[petIndex].selectedPlan === 'accipet'"
                            ></app-radio-btn >
                            </li>
                    </ul>
                </div>
                <div class="box box-2 light">
                    <ul>
                        <li>
                            <app-radio-btn
                            class="limit-checkbox"
                            value="1"
                            (outChecked)="addCoPayment('accipet',true);"
                            [checked]="quote.pets[petIndex].accipetCoPayment"
                            [disabled]="quote.pets[petIndex].selectedPlan !== 'accipet'"
                            ></app-radio-btn >

                        </li>
                        <li>
                            <app-radio-btn
                            class="limit-checkbox"
                            value="1"
                            (outChecked)="addCoPayment('accipet',false);"
                            [checked]="quote.pets[petIndex].accipetCoPayment === false"
                            [disabled]="quote.pets[petIndex].selectedPlan !== 'accipet'"
                            ></app-radio-btn >
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div #policyPayment>
      <app-policy-start-payment

          *ngIf="showDatePayment"
          show="show"
          [quote]="quote"
          (whenCalendarOpen)="complete = false"
          (whenCalendarClosed)="validate()"
          (paymentMethodChanged)="paymentMethodChanged()"
          (paymentFreqChanged)="paymentFreqChanged()"
          (detailsChanged)="validatePolicyStartDate()">
      </app-policy-start-payment>
    </div>
    <app-next-back (goNext)="next()" (goBack)="back()" [enabledNext]="complete" [nextLabel]="nextLabel"></app-next-back>
    <app-notice [content]="noticeCopy"></app-notice>

</section>
