<div class="table">
  <div class="row">
    <div class="cell label {{labelClass}}  {{classes}}">
        {{label}}
    </div>
    <div class="cell {{classes}}">
      <div #input class="datepicker-input date-picker-input">
        <input data-role="none" #inputDay class="day" type="text" maxlength="2" tabindex="{{tab}}" placeholder="DD" appDigitOnly inputmode="numeric" pattern="[0-9]*" (input)="validateInputFields(1)" 
        (focusout)="focusoutInputFeilds(1)" 
        (focusin)="focusin('day')" 
        [(ngModel)]="day">
        <input data-role="none" #inputMonth  class="month" type="text" maxlength="2" tabindex="{{tab}}" placeholder="MM" appDigitOnly inputmode="numeric" pattern="[0-9]*" (input)="validateInputFields(2)" 
        (focusout)="focusoutInputFeilds(2)" 
        (focusin)="focusin('month')" 
        [(ngModel)]="month">
        <input data-role="none" #inputYear class="year" type="text" maxlength="4" tabindex="{{tab}}" placeholder="YYYY" appDigitOnly inputmode="numeric" pattern="[0-9]*" (input)="validateInputFields(3)" 
        (focusout)="validateInputFields(4)" 
        (focusin)="focusin('year')" 
        [(ngModel)]="year">
        <img class="icon_clear_field icon" (click)="clearfield()" *ngIf="clearbutton && (value !== null && value !== undefined)" src="/quote/Content/images/pet-quote/icon-clear-field.svg" >
        <img class="icon" (click)="openPicker($event)" *ngIf="(!hidepicker && clearbutton && (value === null || value === undefined)) || !clearbutton" src="/quote/Content/images/pet-quote/icon-calendar.svg">
      </div>
    </div>
  </div>
  <div class="row error-message {{error ? 'show' : ''}}">
    <div class="cell label {{labelClass}} hide-mobile">&nbsp;</div>
    <div class="cell">
        {{errorMessage}}
    </div>
  </div>
</div>
